﻿@using MinPro334_GroupA.viewmodels;
@model List<VMCariDokter>

<div class="card">
    <div class="card-body">
        <h1 style="margin-top:70px">Cari Dokter</h1>

        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-6">
                    <div class="card mb-3">
                        <div class="row g-0">
                            <div class="col-md-4">
                                <div class="p-3 d-flex justify-content-center">
                                    <img src="~/images/@item.Img" class="img-fluid" style="border-radius:100px" alt="...">
                                </div>
                                <div class="p-3 d-flex justify-content-center">
                                    <a class="btn btn-primary" asp-controller="DetailDokter" asp-action="Index" asp-route-id="@item.DoctorId" style="background-color: darkblue; color: white">Lihat Info Lebih Banyak</a>
                                </div>
                            </div>
                            <div class="col-md-8">
                                <div class="card-body h-100 d-flex align-items-center">
                                    <div>
                                        <h4 class="card-title mb-0">@item.Fullname</h4>
                                        <p class="mb-0">Dokter @item.Specialization</p>
                                        @*  <p>@item.Experience tahun pengalaman</p *@
                                        @foreach (var mol in item.ListNameRs)
                                        {
                                            <h6 class="mb-0"><i class="ri-hospital-fill"></i>@mol.MedicalFacilityName</h6>

                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>