﻿@{

}

<div class="card">
        <form asp-action="Chat" method="post" id="form_input">
            <label for="Description" class="col-sm-4 col-form-label">Chat Dokter : </label>
            <textarea type="text" class="form-control" id="Chat" name="Chat"></textarea>
        </form>
</div>
