﻿@using MinPro334_GroupA.viewmodels;
@model VMTblProfilDokter;

@{
    var cek = DateTime.Now.Year;
    @foreach (var date in Model.ListNameHospital)
    {
        var tes = @date.StartDate.Year;

        if (tes <= cek)
        {
            cek = tes;
        }


    }
    var now = DateTime.Now.Year;
    var hasil = now - cek;
}


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>


<div class="card">
    <!-- As a heading -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Home &emsp;/</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <a class="navbar-brand" href="#">Cari Dokter &emsp;/</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Detail Dokter</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="card-body">
        <div class="row">
            <div class="card"></div>
            <div class="card"></div>
            <div class="col-4">
                <div class="card-body text-center">
                    <img src="~/images/@Model.Img" class="rounded-circle img-thumbnail" height="220" width="220">
                </div>
                <br />
                <br />
                <div class="card-body">
                    <h4 style="color: cornflowerblue">Tindakan Medis</h4>
                    @*                     <div style="border-bottom:solid black 0.05px;border-top:solid lightgrey 0.05px; border-left:solid lightgrey 0.05px; border-right:solid lightgrey 0.05px;"> *@
                    <div style="border:solid black 0.05px">
                        <div class="mt-3 m-2 mb-3">
                            @foreach (var item in Model.ListNameTreatment)
                            {
                                <h5>- @item.NameTreatment</h5>
                            }
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <h4 style="color: cornflowerblue">Riwayat Praktek</h4>
                    @* <div style="border-bottom:solid lightgrey 0.05px;border-top:solid lightgrey 0.05px; border-left:solid lightgrey 0.05px; border-right:solid lightgrey 0.05px;">
                    *@ <div style="border:solid black 0.05px">
                        @foreach (var item in Model.ListNameHospital)
                        {
                            <br />
                            <h5>&nbsp;&nbsp;@item.NameHospital</h5>
                            if (null == item.EndDate)
                            {
                                <h6> &emsp;&nbsp;&nbsp;&nbsp;@item.SpecializationFaskes &nbsp; <a style="float:right; padding-right:30px;">@item.StartDate.ToString("yyyy") &nbsp  -  Sekarang</a></h6>
                            }
                            else
                            {
                                <h6> &emsp;&nbsp;&nbsp;&nbsp;@item.SpecializationFaskes &nbsp; <a style="float:right; padding-right:30px;">@item.StartDate.ToString("yyyy") &nbsp  -  @item.EndDate.ToString("yyyy")</a></h6>
                            }
                        }
                        <br />
                    </div>
                </div>
                <div class="card-body">
                    <h4 style="color: cornflowerblue">Pendidikan</h4>
                    @*  <div style="border-bottom:solid lightgrey 0.05px;border-top:solid lightgrey 0.05px; border-left:solid lightgrey 0.05px; border-right:solid lightgrey 0.05px;">
                    *@
                    <div style="border:solid black 0.05px">
                        @foreach (var item in Model.ListInstitutionName)
                        {
                            <br />
                            <h5>&emsp;&nbsp;&nbsp;@item.InstitutionName</h5>
                            <h6>&emsp; &emsp;&nbsp;&nbsp; @item.Major<a style="float:right; padding-right:30px;"> @item.Lulus</a></h6>
                        }
                        <br />
                    </div>
                </div>

            </div>


            <div class="col-8">
                <div class="row mt-2 mb-5">
                    <div class="col-sm-8 mt-3">
                        <div class="card-body mt-5 text-left">
                            <h3><b>@Model.NameDoctor</b></h3>
                            <h5>&emsp; @Model.Specialization</h5>


                            <h5>&emsp; @hasil Tahun Pengalaman</h5>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="card-body mt-3 text-center">
                            <br />
                            <br />
                            <h3>
                                <button class="btn btn-primary btn-lg text-lg-center" id="btn_chat">Chat Dokter</button>
                            </h3>
                            <h5>30.000</h5>
                        </div>
                    </div>
                </div>
                <div class="mb-4">&nbsp;</div>
                <div class="card-body">
                    <h3 style="color: cornflowerblue">&nbsp; Lokasi Praktek</h3>
                    @foreach (var item in Model.ListNameHospital)
                    {
                            <div class="card-body" style="border-top:solid deepskyblue 3px; border-left:solid deepskyblue 3px; border-right:solid deepskyblue 3px;">
                                <div class="row">
                                    <div class="col-sm-7">
                                        <div class="mt-3 text-left">
                                            <h4><b>@item.NameHospital</b></h4>

                                        </div>
                                        <div>
                                            <h5 class=" m-3">&nbsp;&nbsp;@item.SpecializationFaskes</h5>
                                        </div>
                                        <div>
                                            <h5 class=" m-3">&nbsp;&nbsp;📍 @item.Lokasi</h5>
                                        </div>
                                    </div>
                                    <div class="col-sm-5">
                                        <div class="card-body text-center">
                                            <h5>Konsultasi Mulai Dari</h5>
                                            <h5>Rp &nbsp;@item.PriceStartFrom</h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card" style="border-bottom:solid deepskyblue 3px;border-top:solid deepskyblue 3px; border-left:solid deepskyblue 3px; border-right:solid deepskyblue 3px;">
                                <div class=" text-left">
                                    <div>
                                        <a class="btn_more" id="btn_more_@item.IdNameHospital"
                                           dataid="@item.IdNameHospital" style="cursor: pointer; color: deepskyblue; font-size:larger" data-bs-toggle="collapse" data-bs-target="#demo_@item.IdNameHospital">▼ Lihat Jadwal Praktek</a>
                                    </div>
                                    <div id="demo_@item.IdNameHospital" class="collapse row">
                                        <div class="col-9">
                                        @foreach (var collapse in item.ListJadwalPraktekWaktu)
                                            {
                                                <div class="row ml-5">
                                                    <div class="col-5 mt-1">
                                                        <a class="m-1" style="color: black; font-size:large">@collapse.Day</a>
                                                    </div>
                                                    <div class="col-6 mt-1">
                                                        <a class="" style="color: black; font-size:large">@collapse.JamMulai &nbsp; - &nbsp; </a>
                                                        <a style="color:black; font-size:large">@collapse.JamSelesai</a>
                                                    </div>
                                                </div>
                                            }
                                        </div>
                                        <div class="col-3">
                                            <button class="btn btn-primary btn-lg" id="btn_janji">Buat Janji</button>
                                        </div>
                                    </div>
                                </div>



                            </div>
                            <br />
                            <br />
                    }
                </div>
            </div>
        </div>
    </div>
</div>




<script>
    $(".btn_more").click(function () {
        var id = $(this).attr("dataid")
        var txt = $("#btn_more_" + id).text().trim()

        if (txt == "▼ Lihat Jadwal Praktek") {
            $("#btn_more_" + id).text("▲ Sembunyikan Jadwal Praktek")
        }
        else {
            $("#btn_more_" + id).text("▼ Lihat Jadwal Praktek")
        }
    })

    $("#btn_chat").click(function () {
        $("#modal_body").empty()
        $("#modal_body").load("/DetailDokter/Chat")
        $("#my_modal").modal("show")
    })

    $("#btn_janji").click(function () {
        $("#modal_body").empty()
        $("#modal_body").load("/DetailDokter/Janji")
        $("#my_modal").modal("show")
    })



</script>