﻿@{

}

<div class="card">
    <form asp-action="Janji" method="post" id="form_input">
        <label for="Description" class="col-sm-4 col-form-label">Buat janji : </label>
        <input type="text" class="form-control" id="Janji" name="Janji">
    </form>
</div>
