﻿@using MinPro334_GroupA.viewmodels;
@model VMTblProfilDokter
@{
}


<!-- As a heading -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Home &emsp;/</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Profil Dokter</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="row">

    <div class="col-sm-4">

        <div class="card">
            <div>
                @*                 <h4 type="file" class="ti ti-edit" style="position:absolute;top:30px;right:70px;">&nbsp;</h4>
                *@
                <form id="form_input" enctype="multipart/form-data">
                    <div style="position:absolute;top:20px;right:80px;">
                        <input type="file" accept="image/*" name="image" id="file" style="display: none;">
                        <label for="file" style="cursor: pointer;" class="ti ti-edit"></label>
                    </div>
                    <div class="card-body text-center">
                        <h5>&nbsp;</h5>
                        <img src="~/Modernize-1.0.0/src/assets/images/profile/@Model.Img" class="rounded-circle" id="output" height="150" width="150">
                    </div>
                </form>

                <h2>&nbsp;</h2>
                <h5 class="card-title">@Model.NameDoctor</h5>
                <p class="card-text">@Model.Specialization</p>
                <h5>  &#9733; &#9733; &#9733; &#9733; &#9734;</h5>
                <h5>&nbsp;</h5>
            </div>
            <div style="border-top:solid lightgrey 0.05px;">
                <h5 class="p-3" style="background-color:white; color:#329fdc">Janji<a style="float:right; color:#329fdc">@Model.ListJumlahJanji.Count()</a></h5>
            </div>
            <div style="border-bottom:solid lightgrey 0.05px;border-top:solid lightgrey 0.05px">
                <h5 class="p-3" style="background-color:white; color:#329fdc">Obrolan / Konsultasi</h5>
            </div>
        </div>

        <div class="card">
            <h3 class="p-3" style="background-color:#c4e8f8; color:#329fdc">&nbsp;Tentang Saya</h3>
            <h3 class="p-3" style="background-color:white; color:#329fdc">&nbsp;Tindakan Medis</h3>
            <div class="card-khusus">
                @foreach (var item in Model.ListNameTreatment)
                {
                    <h5> &emsp;&emsp;&nbsp; - @item.NameTreatment</h5>
                }
            </div>

            <h4 class="p-3" style="background-color:white; color:#329fdc">&nbsp;Riwayat Praktek</h4>
            <div class="card-khusus">
                @foreach (var item in Model.ListNameHospital)
                {
                    <h5>&emsp;&emsp;&nbsp;&nbsp;&nbsp;@item.NameHospital</h5>
                    <h6>&emsp; &emsp; &emsp;&nbsp;&nbsp;&nbsp;@item.SpecializationFaskes &nbsp; <a style="float:right; padding-right:30px;">@item.StartDate.ToString("yyyy") &nbsp  -  @item.EndDate.ToString("yyyy")</a></h6>
                }
            </div>

            <h3 class="p-3" style="background-color:white; color:#329fdc">&nbsp;Pendidikan</h3>
            <div class="card-khusus">

                @foreach (var item in Model.ListInstitutionName)
                {
                    <h5>&emsp;&emsp;&nbsp;&nbsp;&nbsp;@item.InstitutionName</h5>
                    <h6>&emsp; &emsp;&emsp;&nbsp;&nbsp;&nbsp; @item.Major<a style="float:right; padding-right:30px;"> @item.Lulus</a></h6>
                }
            </div>

            <div class="card">
            </div>

        </div>
    </div>


    <div class="col-sm-8">
        <div class="card text-center">
            <div class="card-header">
                <ul class="nav nav-pills flex-column flex-sm-row">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="true" href="#">Spesialisasi</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" aria-current="true" href="@Url.Action("Index", "TindakanDokter")">Tindakan</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" aria-current="true" href="#" aria-disabled="true">Aktifitas</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" aria-current="true" href="#" aria-disabled="true">Konsultasi</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Pengaturan</a>
                    </li>
                </ul>
            </div>
            <div class="card-body">
                <h5 class="card-title">Spesialisasi Dokter</h5>
                <p class="card-text">
                    @Model.Specialization

                </p>
            </div>
        </div>
    </div>

</div>


<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>


<script>
    let img = document.getElementById('output');
    let input = document.getElementById('file');
    input.onchange = (e) => {
        if (input.files[0]) {
            img.src = URL.createObjectURL(input.files[0]);
            $("#form_input").submit()

        }
    };


    $("#form_input").validate({
        submitHandler: function () {
            var formData = new FormData()
            var file = input.files
            if (file.length > 0) {

                formData.append("Id", 1)
                formData.append("ImageFile", file[0])
            }
            $.ajax({
                url: "/ProfilDokter/SaveImg",
                type: "post",
                data: formData,
                dataType: "json",
                contentType: false,
                processData: false,
                success: function (respon) {
                    Swal.fire({
                        icon: "success",
                        title: "Foto Berhasil Diubah",
                        showConfirmButton: false,
                        timer: 5000
                    });

                }
            })
        }
    })

            // $("#coba").click(function () {
            //     var id = 1
            //     $.ajax({
            //         url: 'ProfilDokter/Coba?id=' + id,
            //         type: 'GET',
            //         contentType: 'application/json',
            //         data: "JSON",
            //         success: function () {

            //         }
            //     });
            // })



</script>