﻿<div class="card card-primary">
    <div class="card-header">
        <h3 class="card-title">Masukkan Minimal 1 Kata Kunci Pencarian Dokter Anda</h3>
    </div>
    <form asp-action="Catalog" id="form_login">
        <div class="card-body">
            @*   <div class="form-group">
            <label for="Location_Name">Lokasi</label>
            <div class="col-sm-12">
            @Html.DropDownList("Location_Name",
            new SelectList(ViewBag.ListLocation, "Name" , "Name"),
            "--Pilih Category--",
            new {@class = "form-control"}
            )
            </div>
            </div> *@
            <div class="form-group">
                <label for="Abbreviation">Lokasi</label>
                <div class="col-sm-12">
                    @Html.DropDownList("Abbreviation",
                    new SelectList(ViewBag.ListLocationLevel, "Abbreviation" , "Abbreviation"),
                    "--Pilih Category--",
                    new {@class = "form-control"}
                    )
                </div>
            </div>
            <div class="form-group">
                <label for="Fullname">Nama Dokter</label>
                <div class="col-sm-12">
                    <input type="text" class="form-control" id="Fullname" name="Fullname" />
                </div>
            </div>
            <div class="form-group">
                <label for="Specialization_Name">Spesialisasi/Sub-spesialisasi</label>
                <div class="col-sm-12">
                    @Html.DropDownList("Specialization_Name",
                    new SelectList(ViewBag.ListSpecialization, "Name" , "Name"),
                    "--Pilih Category--",
                    new {@class = "form-control"}
                    )
                </div>
            </div>
            <div class="form-group">
                <label for="Treatment_Name">Tindakan Medis</label>
                <div class="col-sm-12">
                    @Html.DropDownList("Treatment_Name",
                    new SelectList(ViewBag.ListDoctorTreatment, "Name" , "Name"),
                    "--Pilih Category--",
                    new {@class = "form-control"}
                    )
                </div>
            </div>

        </div>
        <div class="card-footer text-center">
            <button type="reset" class="btn btn-primary float-right">
                Atur Ulang
            </button>
            <button type="submit" class="btn btn-primary float-right">
                Cari
            </button>
        </div>
    </form>
</div>
<script>
    $("#form_login").validate({
        errorClass: "is-invalid text-danger",
        rules: {
            Specialization_Name: {
                required: true,
            },
        },
        messages: {
            Specialization_Name: {
                required: "Please fill Specialization",
            },
        }
    });
</script>