﻿@* <div class="card card-primary">
    <div class="card-header">
        <h3 class="card-title">Cari Dokter</h3>
    </div>
    <form asp-action="Catalog" id="form_login">
        <div class="card-body">
            <h5 class="text-center">Masukkan Minimal 1 Kata Kunci Pencarian Dokter Anda</h5>
            <div class="form-group">
                <label for="Location_Name">Lokasi</label>
                <div class="col-sm-10">
                    @Html.DropDownList("Location_Name",
                    new SelectList(ViewBag.ListLocation, "Name" , "Name"),
                    "--Pilih Category--",
                    new {@class = "form-control"}
                    )
                </div>
            </div>
            <div class="form-group">
                <label for="Fullname">Nama Dokter</label>
                <input type="text" class="form-control" id="Fullname" name="Fullname" />
            </div>
            <div class="form-group">
                <label for="Specialization_Name">Spesialisasi/Sub-spesialisasi</label>
                <div class="col-sm-10">
                    @Html.DropDownList("Specialization_Name",
                    new SelectList(ViewBag.ListSpecialization, "Name" , "Name"),
                    "--Pilih Category--",
                    new {@class = "form-control"}
                    )
                </div>
            </div>
            <div class="form-group">
                <label for="Treatment_Name">Tindakan Medis</label>
                <div class="col-sm-10">
                    @Html.DropDownList("Treatment_Name",
                    new SelectList(ViewBag.ListDoctorTreatment, "Name" , "Name"),
                    "--Pilih Category--",
                    new {@class = "form-control"}
                    )
                </div>
            </div>

        </div>
        <div class="card-footer text-center">
            <button type="submit" class="btn btn-primary float-right">
                Atur Ulang
            </button>
            <button type="submit" class="btn btn-primary float-right">
                Cari
            </button>
        </div>
    </form>
</div> 

<script>
    $(document).ready(function () {
        $('#CariDokter').modal('show');
    });
    $("#form_login").validate({
        errorClass: "is-invalid text-danger",
        rules: {
            Specialization_Name: {
                required: true,
            },
        },
        messages: {
            Specialization_Name: {
                required: "Please fill Specialization",
            },
        }  
    });
</script>
*@


 
<div class="modal fade" id="CariDokter" tabindex="-1" role="dialog" aria-labelledby="CariDokterLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-center" id="CariDokterLabel">Cari Dokter</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <h5 class="text-center">Masukkan Minimal 1 Kata Kunci Pencarian Dokter Anda</h5>
                <form asp-action="Catalog" id="form_login">
                @*     <div class="form-group" style="margin-left:55px">
                        <label for="Location_Name" class="col-sm-6 col-form-label">Lokasi</label>
                        <div class="col-sm-10">
                            @Html.DropDownList("Location_Name",
                            new SelectList(ViewBag.ListLocation, "Name" , "Name"),
                            "--Pilih Category--",
                            new {@class = "form-control"}
                            )
                        </div>
                    </div> *@
                    <div class="form-group" style="margin-left:55px">
                        <label for="Abbreviation" class="col-sm-6 col-form-label">Lokasi</label>
                        <div class="col-sm-10">
                            @Html.DropDownList("Abbreviation",
                            new SelectList(ViewBag.ListLocationLevel, "Abbreviation" , "Abbreviation"),
                            "--Pilih Category--",
                            new {@class = "form-control"}
                            )
                        </div>
                    </div>

                    <div class="form-group" style="margin-left:55px">
                        <label for="Fullname" class="col-sm-6 col-form-label">Nama Dokter</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="Fullname" name="Fullname" />
                        </div>
                    </div>

                    <div class="form-group" style="margin-left:55px">
                        <label for="Specialization_Name" class="col-sm-6 col-form-label">Spesialisasi/Sub-spesialisasi</label>
                        <div class="col-sm-10">
                            @Html.DropDownList("Specialization_Name",
                            new SelectList(ViewBag.ListSpecialization, "Name" , "Name"),
                            "--Pilih Category--",
                            new {@class = "form-control"}
                            )
                        </div>
                    </div>
                    <div class="form-group" style="margin-left:55px">
                        <label for="Treatment_Name" class="col-sm-6 col-form-label">Tindakan Medis</label>
                        <div class="col-sm-10">
                            @Html.DropDownList("Treatment_Name",
                            new SelectList(ViewBag.ListDoctorTreatment, "Name" , "Name"),
                            "--Pilih Category--",
                            new {@class = "form-control"}
                            )
                        </div>

                    </div>
                    <div class="modal-footer justify-content-center">
                        <button type="submit" class="btn btn-primary float-right">
                            Atur Ulang
                        </button>
                        <button type="submit" class="btn btn-primary float-right">
                            Cari
                        </button>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $('#CariDokter').modal('show');
    });
    $("#form_login").validate({
        errorClass: "is-invalid text-danger",
        rules: {
            Specialization_Name: {
                required: true,
            },
        },
        messages: {
            Specialization_Name: {
                required: "Please fill Specialization",
            },
        }
    });
</script>

