﻿@using MinPro334_GroupA.viewmodels;

@model PaginatedList<VMCariDokter>
@{

    VMSearchPage search = ViewBag.Search;

}
<div class="row">
    <div class="col-8">
        @if (search.Abbreviation != null || search.Specialization_Name != null || search.Fullname != null || search.Treatment_Name != null)
        {
            <div class="info-box" bg-light>
                <div class="info-box-content">
                    <div class="info-box-text text-muted">
                        Hasil Pencarian Berdasarkan Kata Kunci:
                        @if (search.Abbreviation != null)
                        {
                            <p>Lokasi &nbsp; : @search.Abbreviation</p>
                        }
                        @if (search.Specialization_Name != null)
                        {
                            <p>Spesialisasi/sub-spesialisasi &nbsp; : @search.Specialization_Name</p>
                        }
                        @if (search.Fullname != null)
                        {
                            <p>Nama Dokter; : @search.Fullname</p>
                        }
                        @if (search.Treatment_Name != null)
                        {
                            <p>Tindakan Medis &nbsp; : @search.Treatment_Name</p>
                        }

                    </div>
                </div>
            </div>
        }
    </div>
    <div class="col-4">
        <div class="card-header">
            <div class="card-tools">
                <button class="btn btn-primary" id="btn_search">
                    <i class="ti ti-search"></i>
                    Ulangi Pencarian
                </button>
            </div>
        </div>
    </div>
</div>


<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-6">
            <div class="card mb-4">
                <div class="row g-0">
                    <div class="col-md-8">
                        <div class="card-body h-100 d-flex align-items-center">
                            <div>
                                <h4 class="card-title mb-0">@item.Fullname</h4>
                                <p class="mb-0">@item.Specialization_Name</p>
                                <p>@item.ListMedicalFacility[0].Experience tahun pengalaman</p>
                                @foreach (var child in item.ListMedicalFacility)
                                {
                                    <h6 class="mb-0"><i class="ti ti-hospital"></i>@child.Hospital_Name @child.Location_Name</h6>
                                }
                                <a href="#" class="btn btn-outline-primary " style="margin-top:50px">Lihat info lebih banyak</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="p-3 d-flex justify-content-center">
                            <img src="~/@item.ImagePath" width="80" height="80" class="img-fluid" style="border-radius:100px" alt="...">
                        </div>
                        <div class="p-3 d-flex justify-content-center">
                            <a href="#" class="btn btn-outline-primary">Chat</a>
                        </div>
                        <div class="p-3 d-flex justify-content-center">
                            <a href="#" class="btn btn_make_appointment" style="background-color: blue; color: white">Buat Janji</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>

<div class="card-footer">
    @{
        var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
        var nextDisabled = !Model.HasNextPage ? "disabled" : "";
    }
    <div class="row">
        <div class="col-7">
            @*
            <form asp-action="Catalog" id="form_pagesize">
            <select name="PageSize" id="PageSize"
            class="form-control">
            <option value="4">4</option>
            <option value="8">8</option>
            <option value="15">15</option>
            </select>
            </form> *@
        </div>

        <div class="col-2 d-flex justify-content-center" style="padding-top:5px">
            Page @Model.PageIndex of @Model.TotalPages
        </div>
        <div class="col-3">
            <a id="aPrev" asp-action="Catalog"
               asp-route-sortOrder="@ViewBag.CurrentSort"
               asp-route-pageNumber="@(Model.PageIndex - 1)"
               asp-route-currentFilter="@ViewBag.CurrentFilter"
               asp-route-pageSize="@ViewBag.CurrentPageSize"
               class="btn btn-info float-right @prevDisabled">
                Previous
            </a>
            <a id="aNext" asp-action="Catalog"
               asp-route-sortOrder="@ViewBag.CurrentSort"
               asp-route-pageNumber="@(Model.PageIndex + 1)"
               asp-route-currentFilter="@ViewBag.CurrentFilter"
               asp-route-pageSize="@ViewBag.CurrentPageSize"
               class="btn btn-info float-right @nextDisabled">
                Next
            </a>
        </div>
    </div>
</div>


<script>

    $("#btn_search").click(function () {
        $("#modal_body").empty()
        $("#modal_body").load("/Dokter/CariDokterdeh")
        $("#my_modal").modal("show")

        $(".modal-dialog").removeClass("modal-xl")
    })

    $("#PageSize").val(@ViewBag.CurrentPageSize)
    $("#PageSize").change(function () {
        $("#form_pagesize").submit()
    })

</script>
