﻿@using MinPro334_GroupA.datamodels;
@using MinPro334_GroupA.viewmodels;

@model VMPasienProfil

@{
    ViewData["Title"] = "Edit Category";
}

<div class="card">
    <div class="card-body">

        <div class="h4 mb-4">@ViewData["Title"]</div>

        <form asp-action="dataPribadi" method="post" id="form_input">

            <input type="hidden" class="form-control" id="Id" name="Id" value="@Model.Id">


            <div class="mb-4 row">
                <label for="Fullname" class="col-sm-4 col-form-label">Name Lengkap</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" id="Fullname" name="Fullname" value="@Model.Fullname">
                    <span class="text-danger"></span>
                </div>
            </div>
            <div class="mb-4 row">
                <label for="Dob" class="col-sm-4 col-form-label">Tanggal Lahir</label>
                <div class="col-sm-8">
                    @{
                        string sqlFormattedDate = Model.Dob.Value.ToString("dd/MM/yyyy");
                    }
                    @* <input type="date" class="form-control" id="Dob" name="Dob" placeholder="@sqlFormattedDate"> *@
                    <input placeholder="@sqlFormattedDate" class="form-control" type="text" onfocus="(this.type='date')" onblur="(this.type='text')" id="Dob" name="Dob" />
                    <span class="text-danger"></span>
                </div>
            </div>
            <div class="mb-4 row">
                <label for="MobilePhone" class="col-sm-4 col-form-label">Nomor Handphone</label>
                <div class="col-sm-8">
                    <input type="number" class="form-control" id="MobilePhone" name="MobilePhone" value="@Model.MobilePhone">
                    <span class="text-danger"></span>
                </div>
            </div>


            <div class="form-group row">
                <div class="col-sm-6 d-flex justify-content-center">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
                <div class="col-sm-6 d-flex justify-content-center">
                    <a class="btn btn-light" asp-controller="PasienProfil" asp-action="Index">Back to List</a>
                </div>
            </div>
        </form>




    </div>
</div>


<script>
    $("#form_input").validate({
        errorClass: "text-danger",
        rules: {
            Fullname: {
                required: true,
                minlength: 3,
            },
            Dob: {
                required: true,
            },
            MobilePhone: {
                required: true,
            },
        },
        messages: {
            Fullname: {
                required: "Please fill Name",
                minlength: "The name must consist of at least 3 character",
            },
            Dob: {
                required: "Please fill BoD",
            },
            MobilePhone: {
                required: "Please fill Mobile Phone",
            },
        },
        submitHandler: function (form) {

            var dataParam = $(form).serialize();

            $.ajax({
                url: "/PasienProfil/Edit",
                type: "post",
                data: dataParam,
                datatype: "json",
                success: function (respon) {
                    var data = respon.dataRespon

                    if (data.success) {
                        $("#my_modal").modal("hide")

                        toastr.success(
                            data.message,
                            '',
                            {
                                timeOut: 500,
                                fadeOut: 500,
                                onHidden: function () {
                                    window.location.reload()
                                }
                            }
                        )
                    }
                    else {
                        toastr.errorClass(data.message)
                    }
                }
            })

        }

    })

        // function fungsisubmit(form) {

        //     var dataParam = $(form).serialize();

        //     $.ajax({
        //         url: "/PasienProfil/Edit",
        //         type: "post",
        //         data: dataParam,
        //         datatype: "json",
        //         success: function (respon) {
        //             var data = respon.dataRespon

        //             if (data.success) {
        //                 $("#my_modal").modal("hide")

        //                 toastr.success(
        //                     data.message,
        //                     '',
        //                     {
        //                         timeOut: 500,
        //                         fadeOut: 500,
        //                         onHidden: function () {
        //                             window.location.reload()
        //                         }
        //                     }
        //                 )
        //             }
        //             else {
        //                 toastr.errorClass(data.message)
        //             }
        //         }
        //     })
        // }

</script>
