﻿<div class="card">
    <div class="card-body">
        <h6 class="mt-2">Silahkan masukkan email anda.</h6>
        <h6>Kami akan melakukan pengecekan</h6>

        <form class="mt-4" id="form_daftar">

            <input type="hidden" class="form-control" id="Id" name="Id" value="@Model.Id">


            <div class="mb-3 mt-4">
                <label for="Email" class="form-label">Email*</label>
                <input type="email" class="form-control" id="Email" name="Email" placeholder="EmailAnda@mail.com" />
                <span id="validate_email" class="text-danger"></span>

            </div>

            <div class="text-center">
                <button type="submit" class="btn btn-primary" id="btn_send">Kirim OTP</button>
            </div>

        </form>

    </div>
</div>

<script>
    $("#form_daftar").validate({
        errorClass: "text-danger",
        rules: {
            Email: {
                required: true,
                email: true,
            }
        },
        messages: {
            Email: {
                required: "Harap masukkan Email anda",
                email: "Format Email Harus Sesuai!!!",
            }
        },
        submitHandler: function (form) {
            var dataForm = $(form).serialize()
            var email = $("#Email").val()
            var id = $("#Id").val()
            $.ajax({
                url: "/PasienProfil/CheckEmail",
                type: "get",
                data: { email: email, id: id },
                dataType: "json",
                success: function (respon) {
                    if (respon) {
                        $("#validate_email").text("email is already exist")
                        return true;
                    }
                    else {
                        fungsiSubmit(dataForm)
                    }
                }

            })
        }
    })

    var but = document.getElementById('btn_send');
    function fungsiSubmit(dataParam) {
        but.disabled = true
        var email = $("#Email").val()
        var id = $("#Id").val()
        $.ajax({
            url: "/PasienProfil/GenerateOTP",
            type: "post",
            data: { email: email, id: id },
            dataType: "json",
            beforeSend: function () {
                $("#title_load").text("Mohon Ditunggu")
                $("#modal_load").modal("show")
            },
            success: function (respon) {

                $("#modal_load").modal("hide")
                var data = respon.dataRespon

                if (data.success) {
                    alert("Kode Terkirim")
                    $("#modal_judul").text("Verifikasi Email").css("color", "blue")
                    $("#modal_body").empty()
                    $("#modal_body").load("PasienProfil/ConfirmOtp", { email: email, id: id })

                } else {
                    alert("Kode Gagal Terkirim")
                }

            }
        })
    }

</script>

