﻿@using MinPro334_GroupA.viewmodels;
@using MinPro334_GroupA.datamodels;
@model VMPasienProfil



<style>
    .btn-circle.btn-xl {
        width: 70px;
        height: 70px;
        padding: 10px 16px;
        border-radius: 35px;
        font-size: 24px;
        line-height: 1.33;
    }

    .btn-circle {
        width: 30px;
        height: 30px;
        padding: 6px 0px;
        border-radius: 15px;
        text-align: center;
        font-size: 12px;
        line-height: 1.42857;
    }

    .inp {
        border: none;
        border-bottom: 1px solid #1890ff;
        padding: 5px 10px;
        outline: none;
    }

    [placeholder]:focus::-webkit-input-placeholder {
        transition: text-indent 0.4s 0.4s ease;
        text-indent: -100%;
        opacity: 1;
    }

</style>

<!-- As a heading -->
<nav class="navbar navbar-expand-lg navbar-light bg-light" style="position:absolute" hidden>
    <div class="container-fluid">
        <a class="navbar-brand" href="#">&emsp;</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true"></a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="row">

    <div class="col-sm-4">

        <div>
            <div>
            </div>
            <div>
                <i type="file" class="ti ti-edit" style="padding-left:220px; position:absolute">&nbsp;</i>
                <div class="d-flex justify-content-center">
                    <img class="rounded-circle img-thumbnail" src="~/@Model.ImagePath" height="150" width="150">
                </div>
                <h1 class="d-flex justify-content-center">&#9733;</h1>
                <h3 class="text-muted d-flex justify-content-center" style="font-size:medium">Bronze Member</h3>
                <h3 class="text-muted d-flex justify-content-center" style="font-size:medium">Since @Model.CreatedOn.ToString("yyyy")</h3>
                <p class="card-text"></p>
                <h5>&nbsp;</h5>
            </div>
        </div>

        <div style="padding-top:100px; padding-left:70px">
            <a class="p-3" style="background-color:white; color:#329fdc; font-size:large" href="/Pasien/Index">&nbsp;Pasien</a>
            <h4 class="p-3" style="background-color:white; color:#329fdc; font-size:large">&nbsp;Pembelian Obat</h4>
            <div class="card-khusus">
            </div>

            <h4 class="p-3" style="background-color:white; color:#329fdc; font-size:large">&nbsp;Rencana Kedatangan</h4>
            <div class="card-khusus">
            </div>

            <h4 class="p-3" style="background-color:white; color:#329fdc; font-size:large">&nbsp;Riwayat Chat Dokter</h4>
            <div class="card-khusus">
            </div>

            <div>
            </div>

        </div>
    </div>



    <div class="col-sm-8">
        <div class="card">
            <div class="card-header">
                <ul class="nav nav-pills flex-column flex-sm-row">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="true">Profil</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" aria-current="true" href="/Alamat/Index">Alamat</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" aria-current="true">Pembayaran</a>
                    </li>

                </ul>
            </div>
            <div class="card-body">
                <div>
                    <div class="row">
                        <div class="col-6">
                            <h3 class="d-flex justify-content-center" style="color:#329fdc; padding-right:3px">Data Pribadi</h3>
                        </div>
                        <div class="col-6">
                            <i type="file" id="btn_datapribadi" class="ti ti-edit d-flex justify-content-center" style="padding-top:10px; color:#329fdc">&nbsp; Ubah</i>
                        </div>
                    </div>
                    <div>
                        <h5 style="padding-left:94px; padding-top:20px; color:#329fdc">Nama Lengkap</h5>
                        <div style="padding-left:94px">
                            <input class="inp" style="width:425px" placeholder="@Model.Fullname" readonly />
                        </div>
                        <h5 style="padding-left:94px; padding-top:20px; color:#329fdc">Tanggal Lahir</h5>
                        <div style="padding-left:94px">
                            @{
                                string sqlFormattedDate = Model.Dob.Value.ToString("dd MMMM yyyy");
                                <input class="inp" style="width:425px" placeholder="@sqlFormattedDate" readonly />
                            }
                        </div>
                        <h5 style="padding-left:94px; padding-top:20px; color:#329fdc">Nomor Handphone</h5>
                        <div style="padding-left:94px">
                            @{
                                string x = Model.MobilePhone.ToString();
                                string v = Model.MobilePhone.Substring(1, x.Length - 1);
                            }
                            <input class="inp" style="width:425px" placeholder="+62 @v" readonly />
                        </div>
                    </div>
                    <div>
                        <h3 style="padding-left:92px; padding-top:70px; color:#329fdc">Data Akun</h3>
                    </div>
                    <div>
                        <div class="row">
                            <div class="col-6">
                                <h5 style="padding-left:94px; padding-top:20px; color:#329fdc">Email</h5>
                            </div>
                            <div class="col-6">
                                <i type="file" style="padding-top:25px; color:#329fdc" id="btn_email" class="ti ti-edit d-flex justify-content-center">&nbsp; Ubah</i>
                            </div>
                        </div>
                        <div style="padding-left:94px">
                            <input class="inp" style="width:425px" placeholder="@Model.Email" readonly />
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <h5 style="padding-left:94px; padding-top:20px; color:#329fdc">Password</h5>
                            </div>
                            <div class="col-6">
                                <i type="file" style="padding-top:25px; color:#329fdc" id="btn_password" class="ti ti-edit d-flex justify-content-center">&nbsp; Ubah</i>
                            </div>
                        </div>
                        <div style="padding-left:94px">
                            <input type="password" class="inp" style="width:425px" value="@Model.Password" readonly />
                        </div>
                    </div>
                    <div style="padding-top:100px">
                    </div>
                </div>

            </div>
        </div>


    </div>
</div>



<script>
    $("#btn_datapribadi").click(function () {
        $("#modal_body").empty()
        $("#modal_body").load("/PasienProfil/dataPribadi")
        $("#my_modal").modal("show")
    })

    $("#btn_password").click(function () {
        $("#modal_body").empty()
        $("#modal_body").load("/PasienProfil/Password")
        $("#my_modal").modal("show")
    })

    $("#btn_email").click(function () {
        $("#modal_body").empty()
        $("#modal_body").load("/PasienProfil/Email")
        $("#my_modal").modal("show")
    })




</script>
