﻿@using MinPro334_GroupA.datamodels;
@using MinPro334_GroupA.viewmodels;

@model VMPasienProfil

@{
    ViewData["Title"] = "Edit";
}

<div class="card">
    <div class="card-body">

        <div class="h4 mb-4">@ViewData["Title"]</div>

        <form asp-action="Password" method="post" id="form_input">

            <input type="hidden" class="form-control" id="Id" name="Id" value="@Model.Id">


            <div class="mb-4 row">
                <label for="Password" class="col-sm-4 col-form-label">Password</label>
                <div class="col-sm-8">
                    <input type="password" class="form-control" id="Password" name="Password" value="@Model.Password">
                    <span toggle="#Password" class="ti ti-eye field-icon toggle-passwordd" style="padding-left:240px"></span>
                    <span id="validated_Password" class="text-danger"></span>
                </div>
            </div>
            <div class="mb-4 row">
                <label for="re_password" class="col-sm-4 col-form-label">Confirm Password</label>
                <div class="col-sm-8">
                    <input type="password" class="form-control" data-rule-equalTo="#Password" id="re_password" name="re_password">
                    <span toggle="#re_password" class="ti ti-eye field-icon toggle-password" style="padding-left:240px"></span>
                </div>
            </div>


            <div class="form-group row">
                <div class="col-sm-6 d-flex justify-content-center">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
                <div class="col-sm-6 d-flex justify-content-center">
                    <a class="btn btn-light" asp-controller="PasienProfil" asp-action="Index">Back to List</a>
                </div>
            </div>
        </form>




    </div>
</div>


<script>

    $(".toggle-password").click(function () {

        $(this).toggleClass("fa-eye fa-eye-slash");
        var input = $($(this).attr("toggle"));
        if (input.attr("type") == "password") {
            input.attr("type", "text");
        } else {
            input.attr("type", "password");
        }
    });

    $(".toggle-passwordd").click(function () {

        $(this).toggleClass("ti-eye ti-eye-off");
        var input = $($(this).attr("toggle"));
        if (input.attr("type") == "password") {
            input.attr("type", "text");
        } else {
            input.attr("type", "password");
        }
    });

    $("#form_input").validate({
        errorClass: "is-invalid text-danger",
        rules: {
            Password: {
                required: true,
                strong_password: true
            },
            re_password: {
                equalTo: "#Password",
                required: true,
            },
        },
        messages: {
            Password: {
                required: "Please fill password"
            },
            re_password: {
                equalTo: "Password tidak sama",
                required: "Please fill re-password",
            },
        },
        submitHandler: function (form) {

            var dataForm = $(form).serialize();

            var password = $("#Password").val();
            var id = $("#Id").val()

            $.ajax({
                url: "/PasienProfil/CheckPassword",
                type: "get",
                data: { password: password, id: id },
                datatype: "json",
                success: function (respon) {
                    if (respon) {
                        $("#validated_Password").text("Password sama dengan sebelumnya")
                        return true;
                    }
                    else {
                        fungsisubmit(dataForm)
                    }
                }
            })

        }

    })

    function fungsisubmit(dataParam) {
        $.ajax({
            url: "/PasienProfil/EditPassword",
            type: "post",
            data: dataParam,
            datatype: "json",
            success: function (respon) {
                var data = respon.dataRespon

                if (data.success) {
                    $("#my_modal").modal("hide")

                    Swal.fire(
                        'Password berhasil diubah, silahkan masuk kembali menggunakan Password yang baru',
                        data.message,
                        'success'
                    ).then(function () {
                        window.location.reload()
                    })
                }
                else {
                    toastr.errorClass(data.message)
                }
            }
        })
    }

    $.validator.addMethod("strong_password", function (value, element) {
        let password = value;
        if (!(/^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[@@#$%&])(.{8,20}$)/.test(password))) {
            return false;
        }
        return true;
    }, function (value, element) {
        let password = $(element).val();
        if (!(/^(.{8,20}$)/.test(password))) {
            return 'Password must be between 8 to 20 characters long.';
        }
        else if (!(/^(?=.*[A-Z])/.test(password))) {
            return 'Password must contain at least one uppercase.';
        }
        else if (!(/^(?=.*[a-z])/.test(password))) {
            return 'Password must contain at least one lowercase.';
        }
        else if (!(/^(?=.*[0-9])/.test(password))) {
            return 'Password must contain at least one digit.';
        }
        else if (!(/^(?=.*[@@#$%&])/.test(password))) {
            return "Password must contain special characters from @@#$%&.";
        }
        return false;
    });

</script>
