﻿@using MinPro334_GroupA.viewmodels;
@model VMTblProfilDokter;

@{
    var janji = Model.ListJumlahJanji.Count() - (Model.ListJanjiCancel.Count() + Model.ListJanjiDone.Count());
}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Home</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">/</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Profil Dokter</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="row">

    <div class="col-sm-4">

        <div class="card">
            @* <form id="form_gambar" enctype="multipart/form-data">
            <div class="image-upload">
            <label for="file-input"> *@
            @* <img src="https://icons.iconarchive.com/icons/dtafalonso/android-lollipop/128/Downloads-icon.png" /> *@
            @*  <h3 class="bi bi-pencil-square"  syle="cursor: pointer; position:absolute;top:30px;right:70px;">&nbsp;</h3>
            </label>
            <input id="ImageFile" name="ImageFile" onclick="submitGambar()" type="file" style="display: none" />
            </div>

            </form> *@
            @*
            <a type="button" class="dropdown-item d-flex align-items-center" asp-controller="Doctor" asp-action="IndexDetail" asp-route-id="1">
            coba
            </a> *@
            <form id="form_input" enctype="multipart/form-data">
                <div style="position:absolute;top:20px;right:80px;">
                    <input type="file" accept="image/*" name="image" id="file" style="display: none;">
                    <label for="file" style="cursor: pointer;" class="ti ti-edit"></label>
                </div>
                <div class="card-body text-center">
                    <h5>&nbsp;</h5>
                    <img src="~/images/@Model.Img" class="rounded-circle" id="output" height="150" width="150">
                </div>
            </form>
            <div class="card-body text-center">
                <h5 class="card-title">@Model.NameDoctor</h5>
                <p class="card-text">@Model.Specialization</p>
                <h5>  &#9733; &#9733; &#9733; &#9733; &#9734;</h5>

            </div>
            <div style="border-top:solid lightgrey 0.05px;">
                <h5 class="p-3" style="background-color:white; color:#329fdc">Janji<a style="float:right; color:#329fdc">@janji</a></h5>
            </div>
            <div style="border-bottom:solid lightgrey 0.05px;border-top:solid lightgrey 0.05px">
                <h5 class="p-3" style="background-color:white; color:#329fdc">Obrolan / Konsultasi<a style="float:right; color:#329fdc">@Model.ListKonsultasi.Count()</a></h5>
            </div>
        </div>

        <div class="card">
            <h3 class="p-3" style="background-color:#c4e8f8; color:#329fdc">&nbsp;Tentang Saya</h3>
            <h3 class="p-3" style="background-color:white; color:#329fdc">&nbsp;Tindakan Medis</h3>
            <div class="card-khusus">
                @foreach (var item in Model.ListNameTreatment)
                {
                    <h5> &emsp;&emsp;&nbsp; - @item.NameTreatment</h5>
                }
            </div>

            <h4 class="p-3" style="background-color:white; color:#329fdc">&nbsp;Riwayat Praktek</h4>
            <div class="card-khusus">
                @foreach (var item in Model.ListNameHospital)
                {
                    <h5>&emsp;&emsp;&nbsp;&nbsp;&nbsp;@item.NameHospital</h5>
                    if (null == item.EndDate)
                    {
                        <h6>&emsp; &emsp; &emsp;&nbsp;&nbsp;&nbsp;@item.SpecializationFaskes &nbsp; <a style="float:right; padding-right:30px;">@item.StartDate.ToString("yyyy") &nbsp  -  Sekarang</a></h6>
                    }
                    else
                    {
                        <h6>&emsp; &emsp; &emsp;&nbsp;&nbsp;&nbsp;@item.SpecializationFaskes &nbsp; <a style="float:right; padding-right:30px;">@item.StartDate.ToString("yyyy") &nbsp  -  @item.EndDate.ToString("yyyy")</a></h6>
                    }
                }
            </div>

            <h3 class="p-3" style="background-color:white; color:#329fdc">&nbsp;Pendidikan</h3>
            <div class="card-khusus">

                @foreach (var item in Model.ListInstitutionName)
                {
                    <h5>&emsp;&emsp;&nbsp;&nbsp;&nbsp;@item.InstitutionName</h5>
                    <h6>&emsp; &emsp;&emsp;&nbsp;&nbsp;&nbsp; @item.Major<a style="float:right; padding-right:30px;"> @item.Lulus</a></h6>
                }
            </div>

        </div>
    </div>

    <div class="col-sm-8">
        <div class="card text-center">
            <div class="card-header">
                <ul class="nav nav-tabs card-header-tabs">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="true" href="#">Spesialisasi</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" aria-current="true" href="@Url.Action("Index", "TindakanDokter")">Tindakan</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" aria-current="true" href="#">Konsultasi</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Pengaturan</a>
                    </li>
                </ul>
            </div>
            <div class="card-body">
                <h5 class="card-title">Spesialis Dokter</h5>
                <p class="card-text">
                    Spesialis Anak
                </p>
                <button class="btn btn-primary btn-lg" id="btn_janji">Buat Janji</button>
            </div>
        </div>
    </div>

</div>

<script>

    $("#btn_janji").click(function () {
        $("#modal_body").empty()
        $("#modal_body").load("/DetailDokter/Janji")
        $("#my_modal").modal("show")
    })


    let img = document.getElementById('output');
    let input = document.getElementById('file');
    input.onchange = (e) => {
        if (input.files[0]) {
            img.src = URL.createObjectURL(input.files[0]);
            $("#form_input").submit()

        }
    };


    $("#form_input").validate({
        submitHandler: function () {
            var formData = new FormData()
            var file = input.files
            if (file.length > 0) {

                formData.append("Id", 2)
                formData.append("ImageFile", file[0])
            }
            $.ajax({
                url: "/ProfilDokter/SaveImg",
                type: "post",
                data: formData,
                dataType: "json",
                contentType: false,
                processData: false,
                success: function (respon) {
                    Swal.fire({
                        icon: "success",
                        title: "Foto Berhasil Diubah",
                        showConfirmButton: false,
                        timer: 1500
                    });

                }
            })
        }
    })
</script>