﻿@using MinPro334_GroupA.viewmodels;
@model VMCustomerMember

@{
    ViewData["Title"] = "Tambah Pasien";
}


<div class="card">
    <div class="card-body">

        <div class="h4 mb-4">@ViewData["Title"]</div>

        <form asp-action="Create" method="post" id="form_input">

            <input type="hidden" class="form-control" id="Id" name="Id" value="@Model.Id">

            <div class="mb-4 row">

                <label for="Fullname" class="col-sm-4 col-form-label">Nama Lengkap</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" id="Fullname" name="Fullname" value="@Model.Fullname">
                </div>
            </div>

            <div class="mb-4 row">
                <label for="Dob" class="col-sm-4 col-form-label">Tanggal lahir</label>
                <span id="validated_dob" class="text-danger"></span>
                <div class="col-sm-8">
                    <input type="date" class="form-control" id="Dob" name="Dob" value="@Model.Dob">
                </div>
            </div>

            <div class="mb-4 row">
                <label for="Gender" class="col-sm-4 col-form-label">Jenis Kelamin</label>
                <div class="col-sm-8">
                    <input type="radio" id="male" name="Gender" value="P">
                    <label for="male">Pria</label>
                    <input type="radio" id="female" name="Gender" value="W">
                    <label for="female">Wanita</label>
                </div>
            </div>

            <div class="mb-4 row">
                <label for="BloodGroupId" class="col-sm-4 col-form-label">Golongan Darah</label>
                <div class="col-sm-8">
                    <input type="radio" id="rhPositive" name="RhesusType" value="Rh+">
                    <label for="RhesusType">Rh +</label>
                    <input type="radio" id="rhNegative" name="RhesusType" value="Rh-">
                    <label for="RhesusType">Rh -</label>
                </div>
                <div class="col-sm-4">
                    @Html.DropDownList("BloodGroupId",
                    new SelectList(ViewBag.ListBloodGroup, "Id", "Code"),
                    "--Pilih--",
                    new { @class = "form-control", @name = "BloodGroupId"}
                    )
                </div>
            </div>

            <div class="mb-4 row">
                <label for="Height" class="col-sm-4 col-form-label">Tinggi Badan</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" id="Height" name="Height" value="@Model.Height" placeholder="cm">
                </div>
            </div>

            <div class="mb-4 row">
                <label for="Weight" class="col-sm-4 col-form-label">Berat Badan</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" id="Weight" name="Weight" value="@Model.Weight" placeholder="kg">
                </div>
            </div>

            <div class="mb-4 row">
                <label for="CustomerRelationId" class="col-sm-4 col-form-label">Relasi</label>
                <div class="col-sm-8">
                    @Html.DropDownList("CustomerRelationId",
                    new SelectList(ViewBag.ListRelation, "Id", "Name"),
                    "---Pilih Category---",
                    new { @class = "form-control", @name = "CustomerRelationId"}
                    )
                </div>
            </div>

            <div class="form-group row">
                <div class="col-sm-8">
                    <button type="submit" class="btn btn-primary">Simpan</button>
                    <a class="btn btn-light" asp-controller="Pasien" asp-action="Index">Batal</a>
                </div>
            </div>

        </form>

    </div>
</div>

<script>
    $("#form_input").validate({
        errorClass: "text-danger",
        rules: {
            Fullname: "required",
            Gender: "required"
        },
        messages: {
            Fullname: "Nama Lengkap harus diisi",
            Gender: "Jenis Kelamin harus dipilih"
        },
        submitHandler: function (form) {
            //debugger
            fungsiSubmit(form);
        }
    })

    function fungsiSubmit(form) {
        var dataForm = $(form).serialize();

        var id = 0

        $.ajax({
            url: "/Pasien/Create",
            type: "post",
            data: dataForm,
            dataType: "json",
            success: function (respon) {

                var data = respon.dataRespon

                if (data.success) {
                    $("#my_modal").modal("hide")

                    toastr.success(
                        data.message,
                        '',
                        {
                            timeOut: 500,
                            fadeOut: 500,
                            onHidden: function () {
                                window.location.reload()
                            }
                        }
                    )
                }
                else {
                    toastr.errorClass(data.Message)
                }
            }
        })
    }
</script>