﻿@using MinPro334_GroupA.datamodels;
@using MinPro334_GroupA.viewmodels;

@model VMCustomerMember

@{
    ViewData["Title"] = "HAPUS !";
}

<div class="card">
    <div class="card-body">

        <form asp-action="SureDelete" method="post" id="form_delete">

            <input type="hidden" id="Id" name="Id" value="@Model.Id" />

            <h4>Anda Akan Menghapus @Model.Fullname ?</h4>

            <div class="modal-footer">
                <button type="submit" class="btn btn-primary">Ya</button>
                <a asp-controller="Pasien" asp-action="Index" class="btn btn-Light">Tidak</a>
            </div>

        </form>

    </div>
</div>

<script>
    $("#form_delete").validate({
        submitHandler: function (form) {

            var id = $("#Id").val()

            $.ajax({
                url: "/Pasien/SureDelete",
                type: "post",
                data: { id: id },
                dataType: "json",
                success: function (respon) {
                    var data = respon.dataRespon

                    if (data.success) {
                        $("#my_modal").modal("hide")

                        toastr.success(
                            data.message,
                            '',
                            {
                                timeOut: 500,
                                fadeOut: 500,
                                onHidden: function () {
                                    window.location.reload()
                                }
                            }
                        )
                    }
                    else {
                        toastr.errorClass(data.message)
                    }
                }
            })

        }
    })
</script>