﻿@using MinPro334_GroupA.Services;

@inject AuthService authService
@{
    ViewData["Title"] = "Home Page";
    int IdRole = @Context.Session.GetInt32("IdRole") ?? 5; // Menggunakan ?? 0 untuk mengatasi null jika sesi tidak ada
    var menu = await authService.MenuAccess(IdRole);
}

@*     <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    </div> *@
  
@if(IdRole == 5)
{
    <div class="row">
        @foreach (var parent in menu)
        {
            @foreach (var child in parent.ListChild)
            {
                <div class="col-md-3">
                    <a class="jump_to_login" onclick="clickLogin()">

                        <div class="card" style="width: 15rem;">
                            <img src="~/@child.BigIcon" class="card-img-top rounded-0" alt="..." style="height: 200px;">
                            <div class="card-body">
                                <h5 class="text-center">@child.Name</h5>
                            </div>
                        </div>
                    </a>
                </div>

            }

        }
    </div>

} else
{
    <div class="row">
        @foreach (var parent in menu)
        {
            @foreach (var child in parent.ListChild)
            {
                <div class="col-md-3">
                    <a href="..@child.Url">
                        <div class="card" style="width: 15rem;">
                            <img src="~/@child.BigIcon" class="card-img-top rounded-0" alt="..." style="height: 200px;">
                            <div class="card-body">
                                <h5 class="text-center">@child.Name</h5>
                            </div>
                        </div>
                    </a>
                </div>

            }

        }
    </div>

}
    
<script>
    function clickLogin(){
        $("#btn_login").click()
    }
</script>
    