﻿
<div class="card">
    <div class="card-body">
        <form class="mt-4" id="form_createCaraPembayaran">

            <div class="mb-3">
                <label for="Name" class="form-label">Nama*</label>
                <input type="text" class="form-control" id="Name" name="Name" placeholder="Cara Pembayaran..." oninput="resetValidate()">
                <span id="validate_NameCaraPembayaran" class="text-danger"></span>
            </div>

            <div class="text-end">
                <a class="btn btn-light" asp-controller="Bank" asp-action="Index">Batal</a>
                <button type="submit" class="btn btn-primary btn-block">Simpan</button>
            </div>

        </form>

    </div>
</div>

<script>
    $("#form_createCaraPembayaran").validate({
        errorClass: "text-danger",
        rules: {
            Name: "required",
        },
        messages: {
            Name: "Harap masukkan Cara Pembayaran",
        },
        submitHandler: function (form) {
            $("#validate_NameCaraPembayaran").text("")

            var dataForm = $(form).serialize()
            var name = $("#Name").val()
            var id = 0
            $.ajax({
                url: "/CaraPembayaran/CheckNameIsExist",
                type: "get",
                data: { name: name },
                dataType: "json",
                success: function (respon) {
                    if (respon) {
                        $("#validate_NameCaraPembayaran").text("Cara Pembayaran sudah terdaftar. Silahkan tambahkan Cara Pembayaran lain")
                    }
                    else {
                        fungsiSubmit(dataForm)
                    }
                }

            })
        }
    })

    function fungsiSubmit(dataParam) {
        $.ajax({
            url: "/CaraPembayaran/Create",
            type: "post",
            data: dataParam,
            dataType: "json",
            success: function (respon) {
                var data = respon.dataRespon
                if (data.success) {

                    toastr.success(
                        'Cara Pembayaran berhasil ditambahkan',
                        'Tambah Data berhasil',
                    )
                    $("#my_modal").modal("hide")


                    setTimeout(function () {
                        window.location.reload()
                    }, 1500)
                }
                else {
                    toastr.error(
                        'Gagal Menambahkan Cara Pembayaran',
                        'Error',
                    )
                }

            }
        })
    }
    function resetValidate() {
        $("#validate_NameCaraPembayaran").text("")
    }

</script>
