﻿@using MinPro334_GroupA.viewmodels;
@model VMMPaymentMethod


<div class="card">
    <div class="card-body">
        <h6>Apakah anda yakin akan menghapus data berikut ?</h6>
        <form class="mt-4" id="form_hapusCaraPembayaran">
            <input type="hidden" class="form-control" id="Id" name="Id" value="@Model.Id" />

            <div class="mb-3">
                <label for="Name" class="form-label">Nama*</label>
                <input type="text" class="form-control" id="Name" name="Name" value="@Model.Name" readonly>
                <span id="validate_NameCaraPembayaran" class="text-danger"></span>
            </div>

            <div class="text-end">
                <a class="btn btn-light" asp-controller="CaraPembayaran" asp-action="Index">Batal</a>
                <button type="submit" class="btn btn-danger btn-block">Hapus</button>
            </div>

        </form>

    </div>
</div>

<script>
    $("#form_hapusCaraPembayaran").validate({
        submitHandler: function (form) {
            var dataForm = $(form).serialize()
            var name = $("#Name").val()
            var id = $("#Id").val()
            $.ajax({
                url: "/CaraPembayaran/SureDelete",
                type: "post",
                data: dataForm,
                dataType: "json",
                success: function (respon) {
                    var data = respon.dataRespon
                    if (data.success) {
                        toastr.success(
                            'Cara Pembayaran berhasil dihapus',
                            'Hapus Data berhasil',
                        )
                        $("#my_modal").modal("hide")


                        setTimeout(function () {
                            window.location.reload()
                        }, 1500)
                    }
                    else {
                        toastr.error(
                            'Gagal mengahpus Cara Pembayaran',
                            'Error',
                        )
                    }

                }

            })
        }
    })
</script>
