﻿@using MinPro334_GroupA.viewmodels;
@model VMMBank


<div class="card">
    <div class="card-body">
        <form class="mt-4" id="form_editbank">
            <input type="hidden" class="form-control" id="Id" name="Id" value="@Model.Id" />

            <div class="mb-3">
                <label for="Name" class="form-label">Nama Bank*</label>
                <input type="text" class="form-control" id="Name" name="Name" oninput="checkbyname()" value="@Model.Name">
                <span id="validate_Namebank" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label for="VaCode" class="form-label">Kode VA*</label>
                <input type="text" class="form-control" id="VaCode" name="VaCode" oninput="checkbycode()" value="@Model.VaCode">
                <span id="validate_codeva" class="text-danger"></span>
            </div>

            <div class="text-end">
                <a class="btn btn-light" asp-controller="Bank" asp-action="Index">Batal</a>
                <button type="submit" class="btn btn-primary btn-block">Simpan</button>
            </div>

        </form>

    </div>
</div>

<script>
    $("#form_editbank").validate({
        errorClass: "text-danger",
        rules: {
            Name: "required",
            VaCode: {
                required: true,
                minlength: 10,
                maxlength: 10,
            }
        },
        messages: {
            Name: "Harap masukkan nama Bank",
            VaCode: {
                required: "Harap masukkan kode VA",
                minlength: "Kode terdiri dari 10 angka",
                maxlength: "Kode terdiri dari 10 angka",
            }
        },
        submitHandler: function (form) {
            var dataForm = $(form).serialize()
            var name = $("#Name").val()
            var vacode = $("#VaCode").val()
            var id = $("#Id").val()
            $.ajax({
                url: "/Bank/CheckNameCodeIsExist",
                type: "get",
                data: { name: name, vacode: vacode },
                dataType: "json",
                success: function (respon) {
                    if (respon) {
                        toastr.error(
                            'Pastikan data sudah benar',
                            'Data tidak valid',
                        )
                    }
                    else {
                        fungsiSubmit(dataForm)
                    }
                }

            })
        }
    })

    function fungsiSubmit(dataParam) {
        $.ajax({
            url: "/Bank/Edit",
            type: "post",
            data: dataParam,
            dataType: "json",
            success: function (respon) {
                var data = respon.dataRespon
                if (data.success) {

                    toastr.success(
                        'Data Bank berhasil diubah',
                        'Edit Data Bank berhasil',
                    )
                    $("#my_modal").modal("hide")


                    setTimeout(function () {
                        window.location.reload()
                    }, 1500)
                }
                else {
                    toastr.error(
                        'Gagal Mengubah Data',
                        'Error',
                    )
                }

            }
        })
    }

    function checkbyname() {
        var name = $("#Name").val()
        var id = $("#Id").val()

        $.ajax({
            url: "/Bank/CheckByName",
            type: "get",
            data: { name: name },
            dataType: "json",
            success: function (respon) {
                if (respon) {
                    $("#validate_Namebank").text("Nama Bank telah tersedia")

                    //return false
                }
                else {
                    $("#validate_Namebank").text("")

                    //return true
                }
            }
        })
    }

    function checkbycode() {
        var vacode = $("#VaCode").val()
        var id = $("#Id").val()

        $.ajax({
            url: "/Bank/CheckByCode",
            type: "get",
            data: { vacode: vacode },
            dataType: "json",
            success: function (respon) {
                if (respon) {
                    $("#validate_codeva").text("Kode VA telah tersedia")
                    return false
                }
                else {
                    $("#validate_codeva").text("")
                    return true
                }
            }
        })
    }


</script>
