﻿@using MinPro334_GroupA.viewmodels;
@model VMLocation

@{
    ViewData["Title"] = "Edit Alamat";
}


<div class="card">
    <div class="card-body">

        <div class="h4 mb-4">@ViewData["Title"]</div>

        <form asp-action="Create" method="post" id="form_input">

            <input type="hidden" class="form-control" id="Id" name="Id" value="@Model.Id">

            <div class="mb-4 row">
                <label for="Label" class="col-sm-4 col-form-label">Label Alamat</label>
                <input type="text" class="form-control" id="Label" name="Label" value="@Model.Label">
            </div>

            <div class="mb-4 row">
                <label for="Recipient" class="col-sm-4 col-form-label">Nama Penerima</label>
                <input type="text" class="form-control" id="Recipient" name="Recipient" value="@Model.Recipient">
            </div>

            <div class="mb-4 row">
                <label for="RecipientPhoneNumber" class="col-sm-6 col-form-label">Nomor HP Penerima</label>
                <input type="text" class="form-control" id="RecipientPhoneNumber" name="RecipientPhoneNumber" value="@Model.RecipientPhoneNumber">
            </div>

            <div class="mb-4 row">
                <label for="LocationId" class="col-sm-6 col-form-label">Kecamatan / Kota</label>
                @Html.DropDownList("LocationId",
                new SelectList(ViewBag.listLocation, "LocationId", "NameLocation"),
                "---Pilih Kecamatan/Kota---",
                new { @class = "form-control"}
                )
            </div>

            <div class="mb-4 row">
                <label for="PostalCode" class="col-sm-6 col-form-label">Kode Pos</label>
                <input type="text" class="form-control" id="PostalCode" name="PostalCode" value="@Model.PostalCode">
            </div>

            <div class="mb-4 row">
                <label for="PostalCode" class="col-sm-6 col-form-label">Alamat</label>
                <textarea class="form-control col-sm-6" id="Address" name="Address" rows="4">@Model.Address</textarea>
            </div>

            <div class="form-group row">
                <div class="col-sm-8">
                    <button type="submit" class="btn btn-primary">Simpan</button>
                    <a class="btn btn-light" asp-controller="Alamat" asp-action="Index">Batal</a>
                </div>
            </div>

        </form>

    </div>
</div>

<script>
    $("#form_input").validate({
        errorClass: "text-danger",
        rules: {
            Label: "required",
            Recipient: "required",
            RecipientPhoneNumber: "required",
            LocationId: "required",
            Address: "required"

        },
        messages: {
            Label: "Masukan label alamat",
            Recipient: "Masukan nama penerima",
            RecipientPhoneNumber: "Masukan nomor HP penerima",
            LocationId: "Masukan Kecamatan/Kota",
            Address: "Masukan alamat"
        },
        submitHandler: function (form) {
            //debugger
            fungsiSubmit(form);
        }
    })

    function fungsiSubmit(form) {
        var dataForm = $(form).serialize();

        var id = 0

        debugger

        $.ajax({
            url: "/Alamat/Edit",
            type: "post",
            data: dataForm,
            dataType: "json",
            success: function (respon) {

                var data = respon.dataRespon

                if (data.success) {
                    $("#my_modal").modal("hide")

                    toastr.success(
                        data.message,
                        '',
                        {
                            timeOut: 500,
                            fadeOut: 500,
                            onHidden: function () {
                                window.location.reload()
                            }
                        }
                    )
                }
                else {
                    toastr.errorClass(data.Message)
                }
            }
        })
    }
</script>