﻿@using MinPro334_GroupA.viewmodels;
@model PaginatedList<VMLocation>

@{
    ViewData["Title"] = "Tab Alamat";
}

<div class="row">

    <div class="col-sm-4">

        <div class="card">
            <div>
                <h4 type="file" class="ti ti-edit" style="position:absolute;top:30px;right:70px;">&nbsp;</h4>
            </div>
            <div class="card-body text-center">
                <img src="~/Modernize-1.0.0/src/assets/images/profile/user-1.jpg" class="rounded-circle img-thumbnail" height="150" width="150">
                <h2>&nbsp;</h2>
                <h5 class="card-title">Bronze Member</h5>
                <p class="card-text">Since 2020</p>
                <h5>  &#9733;</h5>
                <h5>&nbsp;</h5>
            
            </div>

            <div style="padding-top:100px; padding-left:70px">
                <a class="p-3" style="background-color:white; color:#329fdc; font-size:large" href="/Pasien/Index">&nbsp;Pasien</a>
                <h4 class="p-3" style="background-color:white; color:#329fdc; font-size:large">&nbsp;Pembelian Obat</h4>
                <div class="card-khusus">
                </div>

                <h4 class="p-3" style="background-color:white; color:#329fdc; font-size:large">&nbsp;Rencana Kedatangan</h4>
                <div class="card-khusus">
                </div>

                <h4 class="p-3" style="background-color:white; color:#329fdc; font-size:large">&nbsp;Riwayat Chat Dokter</h4>
                <div class="card-khusus">
                </div>

                <div>
                </div>

            </div>
       
        </div>
    </div>


    <div class="col-sm-8">
        <div class="card">
            <div class="card text-center">
                <div class="card-header">
                    <ul class="nav nav-tabs card-header-tabs">
                        <li class="nav-item">
                            <a class="nav-link" href="PasienProfil/Index">Profil</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active">Alamat</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link disabled" href="#">Disabled</a>
                        </li>
                    </ul>
                </div>

                <div class="row mb-3">
                    <div class="col-12">
                        <div class="row mb-4"></div>

                        <div class="d-flex justify-content-between" style="margin: 0 1rem">
                            <form asp-action="Index" asp-route-pageSize="@ViewBag.CurrentPageSize">
                                <div class="input-group w-100">
                                    <input type="text" name="searchString" value="@ViewBag.CurrentFilter" class="form-control" placeholder="search.." />
                                    <div class="input-group-prepend">
                                        <button type="submit" class="input-group-text" title="search">
                                            <i class="ti ti-search"></i>
                                        </button>
                                    </div>
                                    <div class="input-group-prepend">
                                        <a class="input-group-text" asp-action="Index" title="reset">
                                            <i class="ti ti-refresh"></i>
                                        </a>
                                    </div>
                                </div>                  
                            </form>

                            @* <div>
                                <form name="dropDownLabel" id="form_label" asp-action="Index" asp-route-pageSize="@ViewBag.CurrentPageSize"
                                      asp-route-currentFilter="@ViewBag.CurrentFilter">
                                    @Html.DropDownList(
                                    "dropDownLabel", new SelectList(ViewBag.listLabel,"Label"),
                                    "--Pilih Location Level--",
                                    new { @class = "form-control"}
                                    )
                                </form>
                            </div>   *@
                            
                          @*   <form method="get">
                                <label for="sortField">Urutkan berdasarkan:</label>
                                <select id="sortField" name="sortField">
                                    <option value="recipient">Nama Penerima</option>
                                    <option value="label">Label Alamat</option>
                                </select>
                                <button type="submit">Urutkan</button>
                            </form> *@

                        </div>


                    </div>
                </div>

                <div class="d-flex justify-content-between" style="margin:0 2rem">
                    <button style="cursor:pointer; border:1px solid" class="btn btn-danger" id="btn_multiple_delete" disabled>Delete</button>
                    <div style="display:flex; align-items:center">

                        <a style="margin:0 0.5rem" 
                           asp-action="Index" 
                           asp-route-sortOrder="@ViewBag.NameSort"
                           asp-route-currentFilter="@ViewBag.currentFilter"
                           asp-route-pageSize="@ViewBag.currentPageSize">
                            A-Z
                        </a>
                        <form asp-action="Index" id="form_pagesize" style="margin:0 0.5rem">
                            <select name="PageSize" id="PageSize" class="form-control">
                                <option value="3">3</option>
                                <option value="5">5</option>
                                <option value="10">10</option>
                            </select>
                        </form>
                        <button style="cursor:pointer; border:1px solid; margin:0 0.5rem" class="btn btn-primary" id="btn_create"><i class="bi-plus"></i>Create</button>
                    </div>
                </div>

                <div class="card-body border-top mt-4">
                    <table class="table table-hover mb-3">
                        <tbody>
                            @if (Model.Count != 0)
                            {
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td style="border:none; margin-right:3rem; align-self:center">
                                            <input type="checkbox" onchange="selectedItem()" class="mychecked" value="@item.Id" />
                                        </td>
                                        <td style="text-align: left;">
                                            <p><b>@item.Label</b></p>
                                            <p>@item.Recipient, @item.RecipientPhoneNumber</p>
                                            <p>@item.Address, @item.NameLocation</p>
                                        </td>
                                        <td>
                                            <a class="btn btn-success btn_edit" style="color:whitesmoke" dataid="@item.Id">Edit</a>
                                            <a class="btn btn-danger btn_delete" style="color:whitesmoke" dataid="@item.Id">Delete</a>
                                        </td>
                                    </tr>
                                }
                            }
                            else
                            {
                                <tr>
                                    <td>Data not found</td>
                                </tr>
                            }
                        </tbody>
                        
                    </table>
                </div>

                <div class="card-footer">
                    @{
                        var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
                        var nextDisabled = !Model.HasNextPage ? "disabled" : "";
                    }
                    <div class="row">
          
                        <div class="col-20">
                            Page @Model.PageIndex of @Model.TotalPages
                            <a asp-action="Index"
                               asp-route-sortOrder="@ViewBag.CurrentSort"
                               asp-route-pageNumber="@(Model.PageIndex - 1)"
                               asp-route-currentFilter="@ViewBag.CurrentFilter"
                               asp-route-pageSize="@ViewBag.CurrentPageSize"
                               class="btn btn-info float-right @prevDisabled">
                                Previous
                            </a>

                            <a asp-action="Index"
                               asp-route-sortOrder="@ViewBag.CurrentSort"
                               asp-route-pageNumber="@(Model.PageIndex + 1)"
                               asp-route-currentFilter="@ViewBag.CurrentFilter"
                               asp-route-pageSize="@ViewBag.CurrentPageSize"
                               class="btn btn-info float-right @nextDisabled">
                                Next
                            </a>
                        </div>
                    </div>
                </div>
               
            </div>
        </div>


</div>

<script>
    var listId = []

    function selectedItem() {
        var mychecked = $(".mychecked")
        listId = []
        for (var i = 0; i < mychecked.length; i++) {
            if (mychecked[i].checked) {
                listId.push(mychecked[i].value)
            }
        }

        if (listId.length > 0) {
            $("#btn_multiple_delete").attr("disabled", false)
        }
        else {
            $("#btn_multiple_delete").attr("disabled", true)
        }
    }

    $("#btn_multiple_delete").click(function () {
        $("#modal_body").empty()
        $("#modal_body").load("/Alamat/MultipleDelete", { listId: listId })
        $("#my_modal").modal("show")
    })

    $("#btn_create").click(function () {
        $("#modal_body").empty()
        $("#modal_body").load("/Alamat/Create")
        $("#my_modal").modal("show")
    })

    $(".btn_edit").click(function () {
        var id = $(this).attr("dataid")

        $("#modal_body").empty()
        $("#modal_body").load("/Alamat/Edit?id=" + id)
        $("#my_modal").modal("show")
    })

    $(".btn_delete").click(function () {
        var id = $(this).attr("dataid")

        $("#modal_body").empty()
        $("#modal_body").load("/Alamat/Delete?id=" + id)
        $("#my_modal").modal("show") 
    })

    $("#PageSize").val(@ViewBag.CurrentPageSize)

    $("#PageSize").change(function () {
        $("#form_pagesize").submit()
    })

</script>


