﻿@using MinPro334_GroupA.viewmodels;

@model VMTblLokasi;

@{
    ViewData["Title"] = "Buat Lokasi";
}

<div class="card">
    <div class="card-body">
        <div class="h4 mb-4">@ViewData["Title"]</div>

        <form asp-action="Create" method="post" id="form_input">

            <div class="mb-4 row">
                <label for="LocationLevelId" class="col-sm-4 col-form-label">Level Lokasi &emsp;&emsp; : </label>
                <div class="col-sm-8">
                    @if (ViewBag.ListLevel != null) {
                        @Html.DropDownList("LocationLevelId",
                        new SelectList(ViewBag.ListLevel,"Id","Name"),
                        "--Level Lokasi--",
                        new{@class = "form-control"}
                        )
                    }
                    else
                    {
                        <p>Error: Data for dropdown is null.</p>
                    }
                </div>
            </div>


            <div class="mb-4 row">
                <label for="IdLocation" class="col-sm-4 col-form-label">Wilayah &emsp;&emsp;&emsp;&emsp; :</label>
                <div class="col-sm-8">
                    @if (ViewBag.ListLocation != null)
                    {
                            @Html.DropDownList("IdLocation",
                            new SelectList(ViewBag.ListLocation,"ParentId","Name", "ParentName"),
                            "--Wilayah--",
                            new{@class = "form-control"}
                            )
                    }
                    else
                    {
                        <p>Error: Data for dropdown is null.</p>
                    }
                </div>              
            </div>

            <div class="mb-4 row">
                <label for="Name" class="col-sm-4 col-form-label">Nama &emsp;&emsp;&emsp;&emsp;&emsp;:</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" id="Name" name="Name" >
                    <span id="validate_Name" class="text-danger"></span>
                </div>
            </div>



            <div class="mb-4 row">
                <div class="col-sm-8">
                    <button type="submit" class="btn btn-primary">Submit</button>
                    <a class="btn btn-light" asp-controller="Lokasi" asp-action="Index">Back to List</a>
                </div>
            </div>
        </form>

    </div>
</div>

<script>
    $("#form_input").validate({
        errorClass: "text-danger",
        rules: {
            Name: {
                required: true,
                minlength: 3,
            },
            LocationLevelId: {
                required: true,
            }
        },
        messages: {
            Name: {
                required: "Please fill name",
                minlength: "The name must consist of at least 3 characters",
            },
            LocationLevelId: {
                required: "Please fill level location",
            }
        },

        submitHandler: function (form) {

            var dataForm = $(form).serialize();
            var locationLevelId = $("#LocationLevelId").val()
            var name = $("#Name").val()
            var id = 0
            var parentId = $("#ParentId").val()


            $.ajax({
                url: "/Lokasi/CheckNameIsExist",
                type: "get",
                data: { name: name, id: id, locationLevelId: locationLevelId },
                datatype: "json",
                success: function (respon) {
                    if (respon) {
                        $("#validate_Name").text("Name is already exist")
                        return true;
                    }
                    else {
                        fungsiSubmit(dataForm)
                    }
                }
            })
        }
    })

    function fungsiSubmit(dataParam) {
        $.ajax({
            url: "/Lokasi/Create",
            type: "post",
            data: dataParam,
            datatype: "json",
            success: function (respon) {
                var data = respon.dataRespon
                if (data.success) {
                    $("#my_modal").modal("hide")


                    Swal.fire({
                        title: "Information!",
                        text: data.message,
                        icon: "success"
                    }).then((result) => {
                        if (result.value) {
                            window.location.reload();
                        }
                    });
                }
                else {
                    toastr.errorClass(data.message)
                }

            }
        })
    }



    $("#LocationLevelId").change(function () {
        var locationLevelId = $(this).val()
        console.log(locationLevelId)
        $.ajax({
            url: "/Lokasi/GetDataByIdLevel",
            data: { id: locationLevelId },
            type: "get",
            dataType: "Json",
            success: function (respon) {
                $("#IdLocation").empty()
                $("#IdLocation").append("<option value=''>---Pilih---</option>")
                $.each(respon, function (index, res) { //untuk perulangan
                    console.log(res.parentId)
                    $("#IdLocation").append("<option value='" + res.parentId + "'>" + res.abbreviation + " " + " " + res.name +"</option>")
                })
            }
        })
    })

</script>