﻿@using MinPro334_GroupA.viewmodels;
@model VMTblLokasi
@{
    ViewData["Title"] = "Delete";
}

<div class="card">
    <div class="card-body">

        <form asp-action="SureDelete" method="post" id="form_delete">

            <input type="hidden" id="Id" name="Id" value="@Model.Id" />

            <h3>Are you sure for delete @Model.Name ?</h3>

            <div class="modal-footer">
                <button type="submit" class="btn btn-success">Yes</button>
                <a asp-controller="Lokasi" asp-action="Index" class="btn btn-danger">No</a>
            </div>

        </form>

    </div>
</div>

<script>
        $("#form_delete").validate({
            submitHandler: function (form) {

                var dataForm = $(form).serialize()
                var id = $("#Id").val()


                $.ajax({
                    url: "/Lokasi/CheckWilayahInUserOrNot",
                    type: "get",
                    data: dataForm,
                    dataType: "json",
                    success: function (respon) {
                        if (respon) {
                            Swal.fire({
                                title: "Tidak Bisa diHapus!",
                                text: "Data Masih Digunakan",
                                icon: "Error"
                            });
                        }
                        else {
                            fungsiSubmit(dataForm)

                        }

                    }
                })
            }
        })

    function fungsiSubmit(dataForm) {
        $.ajax({
            url: "/Lokasi/SureDelete",
            type: "post",
            data: { id: id },
            dataType: "json",
            success: function (respon) {
                var data = respon.dataRespon
                if (data.success) {
                    $("#my_modal").modal("hide")
                    Swal.fire({
                        title: "Information!",
                        text: data.message,
                        icon: "success"
                    }).then((result) => {
                        if (result.value) {
                            window.location.reload();
                        }
                    });
                }
                else {
                    toastr.errorClass(data.message)
                }

            }
        })
    }

</script>










    // $("#form_delete").validate({
    //     submitHandler: function (form) {

    //         //var dataParam = $(form).serialize()
    //         var id = $("#Id").val()

    //         $.ajax({
    //             url: "/Lokasi/SureDelete",
    //             type: "post",
    //             data: { id: id },
    //             dataType: "json",
    //             success: function (respon) {
    //                 var data = respon.dataRespon

    //                 if (data.success) {
    //                     $("#my_modal").modal("hide")

    //                     Swal.fire({
    //                         title: "Information!",
    //                         text: data.message,
    //                         icon: "success"
    //                     }).then((result) => {
    //                         // Jika pengguna menekan tombol OK, result.value akan berisi true
    //                         if (result.value) {
    //                             // Reload halaman setelah menekan tombol OK
    //                             window.location.reload();
    //                         }
    //                     });
    //                 }
    //                 else {

    //                     Swal.fire({
    //                         icon: 'error',
    //                         title: 'warning',
    //                         text: data.message
    //                     })
    //                     //toastr.errorClass(data.message)
    //                 }
    //             }
    //         })

    //     }
    // })
