﻿@{

}

<style>
    .pagination {
        display: flex;
        list-style: none;
        padding: 0;
    }

    .pagination li {
        margin-right: 5px;
    }

    .pagination a {
        text-decoration: none;
        padding: 10px 16px;
        border: 1px solid #ccc;
        border-radius: 5px;
        background-color: #f4f4f4;
        color: #333;
    }

    .pagination a:hover {
        background-color: #ddd;
    }
</style>


<!-- As a heading -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Home &emsp;/ </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="#">Admin &emsp;/ </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Lokasi</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="card"></div>
<div class="card"></div>

<div class="card">
    <div class="card-title">
        <nav class="navbar navbar-expand-lg bg-body-tertiary">

            <div class="container-fluid">
                <div class="collapse navbar-collapse d-flex justify-content-between" id="navbarSupportedContent">
                    <div style="width:500px">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <form asp-action="Index" asp-route-pageSize="@ViewBag.CurrentPageSize"  class="d-flex w-75" role="search">
                                <input class="form-control me-2" name="searchString" value="@ViewBag.CurrentFilter" type="search" placeholder="Cari berdasarkan nama" aria-label="Search">
                                <button class="btn btn btn-dark" type="submit" title="search"><i class="ti ti-search" style="font-size:25px;"></i></button>
                            </form>
                        </ul>
                    </div>
                    <div class="d-flex" style="width:300px">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item dropdown align-self-center">
                                <a class="nav-link dropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    <b>
                                        @Html.DropDownList(
                                        "LevelLocation", new SelectList(ViewBag.listLocationLevel, "Id", "Name"),
                                        "--Pilih Level Lokasi--",
                                        new { @class = "form-control"}
                                        )
                                    </b>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="d-flex">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <button type="button" class="btn btn-light" id="btn_create"><i class="ti ti-plus" style="font-size: 35px; color:limegreen"></i><br /><b style="color:limegreen; ">Tambah</b></button>
                            <li class="fa fa-list"></li>
                        </ul>
                    </div>

@*                     <nav class="navbar navbar-light bg-light">
                        <form class="form-inline">
                            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                        </form>
                    </nav>  *@                  
                </div>
            </div>
        </nav>
 
    
    <form asp-action="Index" asp-route-pageSize="@ViewBag.CurrentPageSize" asp-route-currentFilter="@ViewBag.CurrentFilter" asp-route-sortOrder="@ViewBag.NameSort">
            <table class="table table-light table-bordered">
            <thead class="table-dark">
                <tr style="text-align:center">
@*                     <th>
                        <a asp-action="Index" asp-route-sortOrder="@ViewBag.NameSort"
                               asp-route-currentFilter="@ViewBag.currentFilter"
                               asp-route-pageSize="@ViewBag.currentPageSize">
                                Nama
                        </a>
                    </th>
                    <th>
                        <a asp-action="Index" asp-route-sortOrder="@ViewBag.NameLocationSort"
                            asp-route-currentFilter="@ViewBag.currentFilter"
                            asp-route-pageSize="@ViewBag.currentPageSize">
                            Nama Level
                        </a>
                    </th> *@
                        <th>
                            <a asp-action="Index"
                               asp-route-currentFilter="@ViewBag.currentFilter"
                               asp-route-pageSize="@ViewBag.currentPageSize" style="color:white; cursor:default">Nama</a>
                        </th>
                    <th>Level Lokasi</th>
                    <th>Wilayah</th>
                    <th style="text-align:center">#</th>
                </tr>
            </thead>
            <tbody>
                @if (Model.Count != 0)
                {
                    int count = 1;
                    @foreach (var item in Model)
                    {
                        <tr style="text-align:center">
                            <td>&emsp;&emsp;@item.Name&emsp;&emsp;</td>
                            <td>&emsp;&emsp;@item.NameLocation&emsp;&emsp;</td>
                                <td>
                                    @if (item.ParentData != null)
                                    {
                                        @item.ParentData.Name
                                        @if (item.ParentData.ParentData != null)
                                        {
                                            <a>,</a>
                                            @item.ParentData.ParentData.Name

                                        }
                                    }
                                    else
                                    {
                                        <a>-</a>
                                    }
                                </td>
                            <td style="text-align:center">
                                    <button type="button" class="btn btn-light btn_edit" id="btn_edit" dataid="@item.Id"><i class="ti ti-edit" style="font-size: 35px;"></i></button>
                                    <button type="button" class="btn btn-light btn_delete" dataid="@item.Id"><i class="ti ti-trash" style="font-size: 35px;"></i>
                            </button>
                            </td>
                        </tr>

                        count++;
                    }
                }
                else
                {
                    <tr>
                        <td>Data not found</td>
                    </tr>
                }
            </tbody>
        </table>
    </form>
    </div>


    <div class="card-footer">
        @{
            var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
            var nextDisabled = !Model.HasNextPage ? "disabled" : "";
        }
        <div class="row d-flex align-items-center">
            <div class="col-8">
                Page @Model.PageIndex of @Model.TotalPages
            </div>
            <div class="col-4">
                <div class="row align-self-end">
                    <div class="col-2 d-flex justify-content-center align-self-center">
                        <a asp-action="Index"
                           asp-route-sortOrder="@ViewBag.CurrentSort"
                           asp-route-pageNumber="@(Model.PageIndex - 1)"
                           asp-route-currentFilter="@ViewBag.CurrentFilter"
                           asp-route-pageSize="@ViewBag.CurrentPageSize"
                           class="btn btn-light float-right @prevDisabled">
                            <p class="ti ti-chevron-left" style="font-size: 35px;"></p>
                        </a>
                    </div>

                    <div class="col-8 d-flex justify-content-center align-self-center">
                        <a class="pagination"></a>
                    </div>

                    <div class="col-2 d-flex justify-content-center">
                        <a asp-action="Index"
                           asp-route-sortOrder="@ViewBag.CurrentSort"
                           asp-route-pageNumber="@(Model.PageIndex + 1)"
                           asp-route-currentFilter="@ViewBag.CurrentFilter"
                           asp-route-pageSize="@ViewBag.CurrentPageSize"
                           class="btn btn-light float-right @nextDisabled">
                            <p class="ti ti-chevron-right" style="font-size: 35px;"></p>
                        </a>
                    </div>
                </div>
            </div>
            @* <div class="col-1">
                <a asp-action="Index"
                   asp-route-sortOrder="@ViewBag.CurrentSort"
                   asp-route-pageNumber="@(Model.PageIndex - 1)"
                   asp-route-currentFilter="@ViewBag.CurrentFilter"
                   asp-route-pageSize="@ViewBag.CurrentPageSize"
                   class="btn btn-light float-right @prevDisabled">
                    <p class="ti ti-chevron-left" style="font-size: 35px;"></p>
                </a>
            </div>
            <div class="col-1">
                <a class="pagination"></a>
            </div>

            <div class="col-1">
                <a asp-action="Index"
                   asp-route-sortOrder="@ViewBag.CurrentSort"
                   asp-route-pageNumber="@(Model.PageIndex + 1)"
                   asp-route-currentFilter="@ViewBag.CurrentFilter"
                   asp-route-pageSize="@ViewBag.CurrentPageSize"
                   class="btn btn-light float-right @nextDisabled">
                    <p class="ti ti-chevron-right" style="font-size: 35px;"></p>
                </a>
            </div> *@
        </div>

    </div>
</div>




<script>
    $("#LevelLocation").change(function () {
        $("#form_level_location").submit()
    })


    $("#btn_create").click(function () {
        $(".modal-dialog").addClass("modal-lg");
        $("#modal_body").empty()
        $("#modal_body").load("/Lokasi/Create")
        $("#my_modal").modal("show")
    })

    $(".btn_delete").click(function () {
        var id = $(this).attr("dataid")

        $("#modal_body").empty()
        $("#modal_body").load("/Lokasi/Delete?id=" + id)
        $("#my_modal").modal("show")
    })

    $(".btn_edit").click(function () {
        var id = $(this).attr("dataid")
        $("#modal_body").empty()
        $("#modal_body").load("/Lokasi/Edit?id=" + id)
        $("#my_modal").modal("show")
    })


    $("#PageSize").val(@ViewBag.CurrentPageSize)

    $("#PageSize").change(function () {
        $("#form_pagesize").submit()
    })


    $(document).ready(function () {
        var pagesize = @Model.TotalPages;
        var paginationContainer = $(".pagination");
        for (var i = 1; i <= pagesize; i++) {
            var button = $("<li><a href='Lokasi?pageNumber="+i+"'>" + i + "</a></li>");
            paginationContainer.append(button);
        }
    });

</script>
