﻿@using MinPro334_GroupA.datamodels;
@using MinPro334_GroupA.viewmodels;
@model PaginatedList<MMedicalItemCategory>
@{
    ViewData["Title"] = "Kategori Produk Kesehatan";
}


<div class="card">
    <div class="card-body">


        <h1 class="card-title" style="padding-bottom:20px">@ViewData["Title"]</h1>


        <div class="row mb-3">
            <div class="col-12">
                <div class="d-flex justify-content-between">

                    <button id="btn_create" class="btn btn-primary">Create</button>

                    <form asp-action="Index" asp-route-pageSize="@ViewBag.CurrentPageSize">
                        <div class="input-group w-100">
                            <input type="text" name="searchString" value="@ViewBag.CurrentFilter" class="form-control" placeholder="Search by nama" />
                            <div class="input-group-prepend">
                                <button type="submit" class="input-group-text" title="search">
                                    <i class="ti ti-search" style="height:21px"></i>
                                </button>
                            </div>
                            <div class="input-group-prepend">
                                <a class="input-group-text" asp-action="Index" title="reset">
                                    <i class="ti ti-rotate-clockwise" style="height:21px"></i>
                                </a>
                            </div>
                        </div>
                    </form>


                </div>
            </div>
        </div>

        <table class="table table-hover mb-3">
            <thead>
                <tr>
                    <th>
                        <a asp-action="Index" asp-route-sortOrder="@ViewBag.NameSort"
                           asp-route-currentFilter="@ViewBag.CurrentFilter"
                           asp-route-pageSize="@ViewBag.CurrentPageSize">
                            Name Category
                        </a>
                    </th>
                    <th style="padding-left:650px">Action</th>
                </tr>
            </thead>
            <tbody>
                @if (Model.Count != 0)
                {
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.Name</td>
                            <td style="padding-left:650px">
                                <a style="color:beige" class="btn btn-success btn_edit" dataid="@item.Id">Edit</a>
                                <a style="color:beige" class="btn btn-primary btn_detail" dataid="@item.Id" hidden>Detail</a>
                                <a style="color:beige" class="btn btn-danger btn_delete" dataid="@item.Id">Delete</a>
                            </td>
                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td>Data Not Found</td>
                    </tr>
                }
            </tbody>

        </table>



    </div>


    <div class="card-footer">
        @{
            var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
            var nextDisabled = !Model.HasNextPage ? "disabled" : "";
        }
        <div class="row">
            <div class="col-2">
                @* <form asp-action="Index" id="form_pagesize">
                <select name="PageSize" id="PageSize" class="form-control">
                <option value="3">3</option>
                <option value="5">5</option>
                <option value="10">10</option>
                </select>
                </form> *@
                Page @Model.PageIndex of @Model.TotalPages
            </div>
            <div class="col-8 d-flex justify-content-end">
                <a asp-action="Index" asp-route-sortOrder="@ViewBag.CurrentSort" asp-route-pageNumber="@(Model.PageIndex - 1)" asp-route-currentFilter="@ViewBag.CurrentFilter" asp-route-pageSize="@ViewBag.CurrentPageSize" class="btn btn-info float-right @prevDisabled">
                    Previous
                </a>
            </div>
            <div class="col-1">
                <a asp-action="Index" asp-route-sortOrder="@ViewBag.CurrentSort" asp-route-pageNumber="@(Model.PageIndex + 1)" asp-route-currentFilter="@ViewBag.CurrentFilter" asp-route-pageSize="@ViewBag.CurrentPageSize" class="btn btn-info float-right @nextDisabled">
                    &#10240Next&#10240
                </a>
            </div>
        </div>
    </div>


</div>


<script>
    $("#btn_create").click(function () {
        $("#modal_body").empty()
        $("#modal_body").load("/CategoryProductKesehatan/Create")
        $("#my_modal").modal("show")
        $("#exampleModalLabel").text("Tambah")

    })

    $(".btn_edit").click(function () {
        var id = $(this).attr("dataid")

        $("#modal_body").empty()
        $("#modal_body").load("/CategoryProductKesehatan/Edit?id=" + id)
        $("#my_modal").modal("show")
        $("#exampleModalLabel").text("Ubah")

    })

    $(".btn_detail").click(function () {
        var id = $(this).attr("dataid")

        $("#modal_body").empty()
        $("#modal_body").load("/CategoryProductKesehatan/Details?id=" + id)
        $("#my_modal").modal("show")
    })

    $(".btn_delete").click(function () {
        var id = $(this).attr("dataid")

        $("#modal_body").empty()
        $("#modal_body").load("/CategoryProductKesehatan/Delete?id=" + id)
        $("#my_modal").modal("show")
        $("#exampleModalLabel").text("Hapus !")

    })

    $("#PageSize").val(@ViewBag.CurrentPageSize)

    $("#PageSize").change(function () {
        $("#form_pagesize").submit()
    })


</script>
