﻿@using MinPro334_GroupA.Services;

@inject AuthService authService

@{
    int IdRole = @Context.Session.GetInt32("IdRole") ?? 5; // Menggunakan ?? 0 untuk mengatasi null jika sesi tidak ada
    var menu = await authService.MenuAccess(IdRole);
}

@if (IdRole != 5)
{
<aside class="left-sidebar">
    <div>
        <div class="brand-logo d-flex align-items-center justify-content-between">
            <a asp-action="Index" class="text-nowrap logo-img">
                <img src="~/Modernize-1.0.0/src/assets/images/logos/med.png" width="200" alt="" />
            </a>
            <div class="close-btn d-xl-none d-block sidebartoggler cursor-pointer" id="sidebarCollapse">
                <i class="ti ti-x fs-8"></i>
            </div>
        </div>
        <nav class="sidebar-nav scroll-sidebar" data-simplebar="">



            <ul id="sidebarnav">

                    @*//haikal\\*@
                    <li class="nav-small-cap">
                        <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
                        <span class="hide-menu">Haikal</span>
                    </li>
                    <li class="sidebar-item">
                        <a class="sidebar-link" asp-controller="ProfilDokter" asp-action="Index" asp-route-id="1" aria-expanded="false">
                            <span>
                                <i class="ti ti-stethoscope"></i>
                            </span>
                            <span class="hide-menu">Profil Dokter</span>
                        </a>
                    </li>



                    @foreach (var parent in menu)
                    {
                        <li class="nav-small-cap">
                            <i class="@parent.SmallIcon"></i>
                            <span class="hide-menu">@parent.Name</span>
                        </li>
                        @foreach (var child in parent.ListChild)
                        {
                            <li class="sidebar-item">
                                <a class="sidebar-link" href="@child.Url" aria-expanded="false">
                                    <span>
                                        <i class="@child.SmallIcon"></i>
                                    </span>
                                    <span class="hide-menu">@child.Name</span>
                                </a>
                            </li>
                        }
                    }
            </ul>
        </nav>
    </div>
</aside>
}


 



