﻿@using MinPro334_GroupA.datamodels;
@model MRole

@{
    ViewData["Title"] = "Tambah Hak Akses";
}

<div class="card">
    <div class="card-body">

        <div class="h4 mb-4">@ViewData["Title"]</div>

        <form asp-action="Create" method="post" id="form_input">
            <div class="mb-4 row">
                <label for="Name" class="col-sm-4 col-form-label">Nama</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" id="Name" name="Name" value="@Model.Name">
                    <span id="validated_Name" class="text-danger"></span>
                </div>
            </div>
            <div class="mb-4 row">
                <label for="Code" class="col-sm-4 col-form-label">Kode</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" id="Code" name="Code" value="@Model.Code">
                    <span id="validated_Code" class="text-danger"></span>
                </div>
            </div>


            <div class="form-group row">
                <div class="col-sm-8">
                    <button type="submit" class="btn btn-primary">Simpan</button>
                    <a class="btn btn-light" asp-controller="HakAkses" asp-action="Index">Batal</a>
                </div>
            </div>
        </form>


    </div>
</div>

<script>
    $("#form_input").validate({
        errorClass: "text-danger",
        rules: {
            Name: "required",
            Code: "required"
        },
        messages: {
            Name: "Masukan Nama",
            Code: "Masukan Kode"
        },
        submitHandler: function (form) {
            var dataForm = $(form).serialize();
            var name = $("#Name").val();
            var code = $("#Code").val();
            var id = 0;

            $.ajax({
                url: "/HakAkses/CheckNameIsExsist",
                type: "get",
                data: { name: name, id: id },
                dataType: "json",
                success: function (nameRespon) {
                    if (nameRespon) {
                        $("#validated_Name").text("Nama Sudah Digunakan");
                        return true;
                    } 
                    else 
                    {
                        $("#validated_Name").text("");
                        $.ajax({
                            url: "/HakAkses/CheckCodeIsExsist",
                            type: "get",
                            data: { code: code, id: id },
                            dataType: "json",
                            success: function (codeRespon) {
                                if (codeRespon) {
                                    $("#validated_Code").text("Code Sudah Digunakan");
                                    return true;
                                } else {
                                    $("#validated_Code").text("")
                                    fungsiSubmit(dataForm);
                                }
                            }
                        });
                    }
                }
            });
        }
    })

    function fungsiSubmit(dataParam) {
        $.ajax({
            url: "/HakAkses/Create",
            type: "post",
            data: dataParam,
            dataType: "json",
            success: function (respon) {
                var data = respon.dataRespon
                if (data.success) {
                    $("#my_modal").modal("hide")

                    toastr.success(
                        data.message,
                        '',
                        {
                            timeOut: 500,
                            fadeOut: 500,
                            onHidden: function () {
                                window.location.reload()
                            }
                        }
                    )
                }
                else {
                    toastr.errorClass(data.message)
                }

            }
        })
    }

</script>

