﻿@using MinPro334_GroupA.datamodels;

@model MRole
@{
    ViewData["Title"] = "Ubah Hak Akses";
}

<div class="card">
    <div class="card-body">

        <div class="h4 mb-4">@ViewData["Title"]</div>

        <form asp-action="Edit" method="post" id="form_input">

            <input type="hidden" class="form-control" id="Id" name="Id" value="@Model.Id">

            <div class="mb-4 row">
                <label for="Id" class="col-sm-4 col-form-label">Nama</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" id="Name" name="Name" value="@Model.Name">
                    <span id="validated_Name" class="text-danger"></span>
                </div>
            </div>

            <div class="mb-4 row">
                <label for="Id" class="col-sm-4 col-form-label">Kode</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" id="Code" name="Code" value="@Model.Code">
                    <span id="validated_Code" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-sm-8">
                    <button type="submit" class="btn btn-primary">Simpan</button>
                    <a class="btn btn-light" asp-controller="HakAkses" asp-action="Index">Batal</a>
                </div>
            </div>
        </form>

    </div>
</div>

<script>
    $("#form_input").validate({
        errorClass: "text-danger",
        rules: {
            Name: "required",
            Code: "required"
        },
        messages: {
            Name: "Masukan Nama",
            Code: "Masukan Kode"
        },
        submitHandler: function (form) {

            var dataForm = $(form).serialize()

            var Name = $("#Name").val()
            var id = $("#Id").val();

            $.ajax({
                url: "/HakAkses/CheckNameIsExsist",
                type: "get",
                data: { Name: Name, id: id },
                dataType: "json",
                success: function (respon) {
                    if (respon) {
                        $("#validated_Name").text("Nama Sudah Digunakan")
                        return true;
                    }
                    else {
                        fungsiSubmit(dataForm)
                    }
                }

            })
        }
    })
    function fungsiSubmit(dataParam) {
        $.ajax({
            url: "/HakAkses/Edit",
            type: "post",
            data: dataParam,
            dataType: "json",
            success: function (respon) {
                var data = respon.dataRespon
                if (data.success) {
                    $("#my_modal").modal("hide")

                    toastr.success(
                        data.message,
                        '',
                        {
                            timeOut: 500,
                            fadeOut: 500,
                            onHidden: function () {
                                window.location.reload()
                            }
                        }
                    )
                }
                else {
                    toastr.errorClass(data.message)
                }

            }
        })
    }

</script>