﻿@using MinPro334_GroupA.datamodels;
@using MinPro334_GroupA.viewmodels;

@model PaginatedList<MRole>
@{
    ViewData["Title"] = "Hak Akses";
}


<div class="card">
    <div class="card-body">

        <h1 class="card-title">@ViewData["Title"]</h1>

        <div class="row mb-3">
            <div class="col-12">
                <div class="d-flex justify-content-between">

                    <form asp-action="Index" asp-route-pageSize="@ViewBag.CurrentPageSize">
                        <div class="input-group w-100">
                            <input type="text" name="searchString" value="@ViewBag.CurrentFilter" class="form-control" placeholder="search by nama" />
                            <div class="input-group-prepend">
                                <button type="submit" class="input-group-text" title="search">
                                    <i class="ti ti-search"></i>
                                </button>
                            </div>
                            <div class="input-group-prepend">
                                <a class="input-group-text" asp-action="Index" title="reset">
                                    <i class="ti ti-refresh"></i>
                                </a>
                            </div>
                        </div>
                    </form>

                    <button id="btn_create" class="btn btn-primary">Tambah</button>

                </div>
            </div>
        </div>

        <table class="table table-hover mb-3">
            <thead>
                <tr>
                    <th>
                        <a asp-action="Index" asp-route-sortOrder="@ViewBag.NameSort"
                           asp-route-currentFilter="@ViewBag.CurrentFilter"
                           asp-route-pageSize="@ViewBag.CurrentPageSize">
                           Nama
                        </a>
                    </th>
                    <th>Kode</th>
                    <th>#</th>
                </tr>
            </thead>
            <tbody>
                @if (Model.Count != 0)
                {
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.Name</td>
                            <td>@item.Code</td>
                            <td>
                                <a class="btn btn-success btn_edit" style="color:whitesmoke" dataid="@item.Id">Ubah</a>
                                <a class="btn btn-danger btn_delete" style="color:whitesmoke" dataid="@item.Id">Hapus</a>
                            </td>
                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td>Data Tidak Ditemukan</td>
                    </tr>
                }
            </tbody>

        </table>


    </div>

    <div class="card-footer">
        @{
            var prevDisabled = !Model.HasPreviousPage ? "disabled" : ""; 
            var nextDisabled = !Model.HasNextPage ? "disabled" : ""; 
        }
        <div class="row">
            <div class="col-3">
                Page @Model.PageIndex of @Model.TotalPages
                <a asp-action="Index" 
                asp-route-sortOrder="@ViewBag.CurrentSort" 
                asp-route-pageNumber="@(Model.PageIndex - 1)" 
                asp-route-currentFilter="@ViewBag.CurrentFilter" 
                asp-route-pageSize="@ViewBag.CurrentPageSize" 
                class="btn btn-info float-right @prevDisabled">
                    Previous
                </a>
           
                <a asp-action="Index" 
                asp-route-sortOrder="@ViewBag.CurrentSort" 
                asp-route-pageNumber="@(Model.PageIndex + 1)" 
                asp-route-currentFilter="@ViewBag.CurrentFilter" 
                asp-route-pageSize="@ViewBag.CurrentPageSize" 
                class="btn btn-info float-right @nextDisabled">
                    Next
                </a>
            </div>
        </div>
    </div>

</div>

<script>
    $("#btn_create").click(function () {
        $("#modal_body").empty()
        $("#modal_body").load("/HakAkses/Create")
        $("#my_modal").modal("show")
        // $("#modaltitle").text("TAMBAH HAK AKSES")
    })

    $(".btn_edit").click(function () {
        var id = $(this).attr("dataid")

        $("#modal_body").empty()
        $("#modal_body").load("/HakAkses/Edit?id=" + id)
        $("#my_modal").modal("show")
    })

    $(".btn_delete").click(function () {
        var id = $(this).attr("dataid")

        $("#modal_body").empty()
        $("#modal_body").load("/HakAkses/Delete?id=" + id)
        $("#my_modal").modal("show")
    })

</script>


