﻿@using MinPro334_GroupA.viewmodels;
@model VMTambahSpesialisasi

@{
    ViewData["Title"] = "Add Spesialis";
}

<div class="card">
    <div class="card-body">

        @* <div class="h4 mb-4">@ViewData["Title"]</div> *@
        <div class="card-title">@ViewData["Title"]</div>

        <form asp-action="Create" method="post" id="form_input">
            <div class="mb-4 row">
                <label for="SpecializationId" class="col-sm-4 col-form-label">Spesialisasi</label>
                <div class="col-sm-8">
                    @if (ViewBag.ListCategory != null)
                    {
                        @Html.DropDownList("SpecializationId",
                    new SelectList(ViewBag.ListCategory, "Id", "Name"),
                    "--Pilih Spesialisasi--",
                    new {@class = "form-control"}
                    )
                    }
                    else
                    {
                        <p>Error: Data for dropdown is null.</p>
                    }
                </div>
            </div>

            <div class="mb-4 row">
                <div class="col-sm-8">
                    <button type="submit" class="btn btn-primary">Submit</button>
                    <a class="btn btn-light" asp-controller="TambahSpesialisasi" asp-action="Index">Back to List</a>
                </div>
            </div>
        </form>

    </div>
</div>

<script>
    $(document).ready(function () {
        $("#form_input").validate({
            errorClass: "text-danger",
            rules: {
                SpecializationId: {
                    required: true,
                }
            },
            messages: {
                SpecializationId: {
                    required: "Please select Specialization",
                }
            },
            submitHandler: function (form) {
                var dataForm = $(form).serialize();
                var SpecializationId = $("#SpecializationId").val();
                var id = 0;

                fungsiSubmit(dataForm);
            }
        });

        function fungsiSubmit(dataForm) {
            $.ajax({
                url: "/TambahSpesialisasi/Create",
                type: "post",
                data: dataForm,
                dataType: "json",
                success: function (respon) {
                    var data = respon.dataRespon;
                    if (data.success) {
                        $("#my_modal").modal("hide");
                        Swal.fire(
                            'Information',
                            data.message,
                            'success'
                        ).then(function () {
                            window.location.reload();
                        });
                    } else {
                        Swal.fire({
                            icon: 'error',
                            title: 'warning',
                            text: data.message
                        });
                    }
                }
            });
        }
    });
</script>