﻿@using MinPro334_GroupA.viewmodels;



@model VMTambahSpesialisasi

@{
    ViewData["Title"] = "Tambah Spesialis";
}

<div class="card">
    <div class="card-body">

        @* <div class="h4 mb-4">@ViewData["Title"]</div> *@
        <div class="card-title">@ViewData["Title"]</div>

        <form asp-action="Edit" method="post" id="form_input">
            <input type="hidden" class="form-control" id="Id" name="Id" value="@Model.Id">

            <div class="mb-4 row">
                <label for="SpecializationId" class="col-sm-4 col-form-label">Spesialisasi</label>
                <div class="col-sm-8">
                    @if (ViewBag.ListCategory != null)
                    {
                        @Html.DropDownList("SpecializationId",
                    new SelectList(ViewBag.ListCategory, "Id", "Name"),
                    "--Pilih Spesialisasi--",
                    new {@class = "form-control"}
                    )
                    }
                    else
                    {
                        <p>Error: Data for dropdown is null.</p>
                    }
                </div>
            </div>

            <div class="mb-4 row">
                <div class="col-sm-8">
                    <button type="submit" class="btn btn-primary">Submit</button>
                    <a class="btn btn-light" asp-controller="TambahSpesialisasi" asp-action="Index">Back to List</a>
                </div>
            </div>
        </form>

    </div>
</div>


<script>
    $("#form_input").validate({
        submitHandler: function (form) {
            fungsiSubmit(form);
        }
    });

    function fungsiSubmit(dataParam) {
        var dataForm = $(dataParam).serialize();
        var SpecializationId = $("#SpecializationId").val();
        var id = $("#Id").val();

        $.ajax({
            url: "/TambahSpesialisasi/Edit",
            type: "post",
            data: dataForm,
            dataType: "json",
            success: function (respon) {
                var data = respon.dataRespon
                if (data.success) {
                    $("#my_modal").modal("hide")
                    Swal.fire(

                        'Information',
                        data.message,
                        'success'
                    ).then(function () {
                        window.location.reload();
                    })
                }
                else {
                    Swal.fire({
                        icon: 'error',
                        title: 'warning',
                        text: data.message
                    })
                }
            }
        });
    }
</script>



@* <script>
    $("#form_input").validate({
        errorClass: "text-danger",
        rules: {
            Fullname: "required",
            Gender: "required"
        },
        messages: {
            Fullname: "Nama Lengkap harus diisi",
            Gender: "Jenis Kelamin harus dipilih"
        },
        submitHandler: function (form) {
            //debugger
            fungsiSubmit(form);
        }
    })

    function fungsiSubmit(form) {
        var dataForm = $(form).serialize();

        var id = 0

        $.ajax({
            url: "/Pasien/Create",
            type: "post",
            data: dataForm,
            dataType: "json",
            success: function (respon) {

                var data = respon.dataRespon

                if (data.success) {
                    $("#my_modal").modal("hide")

                    toastr.success(
                        data.message,
                        '',
                        {
                            timeOut: 500,
                            fadeOut: 500,
                            onHidden: function () {
                                window.location.reload()
                            }
                        }
                    )
                }
                else {
                    toastr.errorClass(data.Message)
                }
            }
        })
    }
</script> *@
