﻿@using MinPro334_GroupA.viewmodels;


@model List<VMTambahSpesialisasi>


@{

}


<style>
    .btn-circle.btn-xl {
        width: 70px;
        height: 70px;
        padding: 10px 16px;
        border-radius: 35px;
        font-size: 24px;
        line-height: 1.33;
    }

    .btn-circle {
        width: 30px;
        height: 30px;
        padding: 6px 0px;
        border-radius: 15px;
        text-align: center;
        font-size: 12px;
        line-height: 1.42857;
    }

    .nav-pills .nav-item .nav-link.active {
        background-color: #2d9cdb;
        color: white;
    }
</style>

<!-- As a heading -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#"> &emsp;Beranda/Profil</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true"></a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="row">

    <div class="col-sm-4">

        <div class="card">
            <div>
                <h4 type="file" class="ti ti-edit" style="position:absolute;top:30px;right:70px;">&nbsp;</h4>
            </div>
            <div class="card-body text-center">
                <img src="~/Modernize-1.0.0/src/assets/images/profile/d4.jpg" class="rounded-circle img-thumbnail" height="150" width="150">
                <h2>&nbsp;</h2>
                <h5 class="card-title">dr. Tatjana Saphira, Sp.A</h5>
                <p class="card-text">Spesialis Anak</p>
                <h5>  &#9733; &#9733; &#9733; &#9733; &#9734;</h5>
            </div>
            <div style="border-top:solid lightgrey 0.05px;">
                <h5 class="p-3" style="background-color:white; color:#329fdc">Janji<a style="float:right; color:#329fdc">3</a></h5>
            </div>
            <div style="border-bottom:solid lightgrey 0.05px;border-top:solid lightgrey 0.05px">
                <h5 class="p-3" style="background-color:white; color:#329fdc">Obrolan / Konsultasi</h5>
            </div>
        </div>

        <div class="card">
            <h4 class="p-3" style="background-color:#c4e8f8; color:#329fdc"><b>&nbsp;Tentang Saya</b></h4>
            <h4 class="p-3" style="background-color:white; color:#329fdc">&nbsp;Tindakan Medis</h4>
            <div class="card-khusus">
                <h5>-Fisio Terapi Anak</h5>
                <h5>-Konsultasi Kesehatan Anak</h5>
                <h5>-Skrining tumbuh kembang anak</h5>
                <h5>-Vaksin anak</h5>
                <h5>-Konsultasi alergi anak</h5>

            </div>

            <h4 class="p-3" style="background-color:white; color:#329fdc">&nbsp;Riwayat Praktek</h4>
            <div class="card-khusus">
                <h5>-RS Mitra, Depok</h5>
                <h7>Dokter Anak     2019-Sekarang</h7>
                <h5>-RSIA Bunda, Jakarta Pusat</h5>
                <h7>Dokter Anak     2018-Sekarang</h7>
                <h5>-RSUP Hasan Sadikin, Depok</h5>
                <h7>Dokter Anak     2016-2018</h7>
            </div>

            <h4 class="p-3" style="background-color:white; color:#329fdc">&nbsp;Pendidikan</h4>
            <div class="card-khusus">
                <h5>-Universitas Padjadjaran</h5>
                <h7>Spesialis Anak     2016</h7>
                <h5>-Universitas Padjadjaran</h5>
                <h7>Dokter Umum     2016</h7>
            </div>

            <div class="card">
            </div>

        </div>
    </div>


    <div class="col-sm-8">
        <div class="card">
            <div class="card-header">
                <ul class="nav nav-pills flex-column flex-sm-row">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="true">Spesialisasi</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" aria-current="true" href="#">Tindakan</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" aria-current="true" href="#">Aktifitas</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" aria-current="true" href="#">Konsultasi</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" aria-current="true" href="#">Pengaturan</a>
                    </li>
                </ul>
            </div>
            <div class="card-body">
                <div>
                    @foreach (var item in Model)
                    {
                        <p>
                            @item.NameSpesialis &emsp;&emsp;
                            <div class="align-self-end">
                                @if (item != null)
                                {
                                    <button type="button" class="btn btn-outline-primary btn-circle btn-xl p-0 btn_edit" style="margin-left:550px" data-id="@item.Id">
                                        <i class="ti ti-pencil" style="font-size: 50px;"></i>
                                    </button>
                                }
                            </div>
                        </p>
                    }
                </div>
                <div class="align-self-end">
                    @if (Model.All(item => item == null))
                    {
                        <p>
                            Anda Belum Menambahkan Spesialisasi
                        </p>
                        <button type="button" class="btn btn-outline-primary btn-circle btn-xl p-0" id="btn_create" style="margin-left:550px">
                            <i class="ti ti-plus" style="font-size: 50px;"></i>
                        </button>
                    }
                </div>
            </div>

        </div>
    </div>
</div>



<script>
    $("#btn_create").click(function () {
        $("#modal_body").empty()
        $("#modal_body").load("/TambahSpesialisasi/Create")
        $("#my_modal").modal("show")
        $(".modal-dialog").removeClass("modal-xl")
    })


    $(".btn_edit").click(function () {
        var id = $(this).data("id");
        $("#modal_body").empty();
        $("#modal_body").load("/TambahSpesialisasi/Edit?id=" + id);
        $("#my_modal").modal("show");
        $(".modal-dialog").removeClass("modal-xl")
    });
</script>
