﻿@using MinPro334_GroupA.viewmodels

@model PaginatedList<VMMMedicalItem>

@{
    var data = @ViewBag.dataHeader;
    var searchMenu = @ViewBag.searchMenu;
    var dataSearch = @ViewBag.search;
}


<style>
    .crop {
        margin-left: auto;
        margin-right: auto;
        height: 150px;
        width: 200px;
        overflow: hidden;
    }

        .crop img {
            width: 100%;
            height: auto;
            position: relative;
            top: 50%;
            -webkit-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            transform: translateY(-50%);
        }

    .wrapper {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: minmax(100px, auto);
    }

    #wrapper_two {
        padding-left: 0;
        transition: all 0.5s ease;
        height: 100%;
    }

</style>


<div class="card-header">
    <div class="row">
        <div class="col-10">
            Hasil Pencarian berdasarkan kata kunci :
            @{
                List<string> deret = new List<string>();
                var itemm = Model;

                if (searchMenu != null)
                {
                    if (searchMenu.Caution != null)
                    {
                        deret.Add("Hanya cari obat " + searchMenu.Caution);
                    }
                    if (searchMenu.NameCategory != null)
                    {
                        deret.Add("Kategori " + searchMenu.NameCategory);
                    }
                    if (searchMenu.Name != null)
                    {
                        deret.Add("Kata kunci " + searchMenu.Name);

                    }
                    if (searchMenu.PriceMin != null)
                    {
                        string tampung = Convert.ToString(searchMenu.PriceMin);
                        deret.Add("Harga Minimal " + tampung);

                    }
                    if (searchMenu.PriceMax != null)
                    {
                        string tampung = Convert.ToString(searchMenu.PriceMax);
                        deret.Add("Harga Maksimal " + tampung);
                    }
                }

                deret = deret.Where(a => !string.IsNullOrWhiteSpace(a)).Distinct().ToList();
                var text = string.Join(", ", deret);


                <p>@text</p>

            }
        </div>
        <div class="col-2">
            <button class="btn btn-outline-primary" id="btn_search">
                Pencarian Ulang
            </button>
        </div>
    </div>

</div>

<div class="row" id="cariobat">
    @foreach (var item in Model)
    {

        <div class="card mb-3" style="max-width: 540px; max-height: 270px; margin: 10px 10px 10px 10px">
            <div class="row no-gutters">
                <div class="col-md-8">
                    <div class="card-body">
                        <h3 class="profile-username text-center" id="name_@item.Id">@item.Name</h3>
                        <p class="text-muted text-center">@item.Indication</p>
                        <p class="text-muted text-center">@item.Packaging</p>
                        <ul class="list-group list-group-unbordered mb-3">
                            <li class="list-group-item">
                                <a class="float-right" style="display: flex; align-items: center; justify-content: center;">Rp.@item.PriceMin - Rp.@item.PriceMax</a>
                                <a id="price_@item.Id" hidden>@item.PriceMax</a>
                            </li>
                        </ul>
                        <div id="tambah" data-id="@item.Id" class="d-flex justify-content-center">
                            <a data-id="@item.Id" class=" btn btn-primary tambahkeranjang" style="color:darkblue">
                                <b>Tambah Keranjang</b>
                            </a>
                        </div>
                        <div id="plusminus" data-id="@item.Id" class="row btn_plusminus" hidden>
                            <div class="col-4 d-flex justify-content-center">
                                <a id="min" data-id="@item.Id" class="btn btn-outline-danger btn_min" style="color:darkblue">
                                    <b>-</b>
                                </a>
                            </div>
                            <div class="col-4 text-center">
                                <span class="text-lg" data-total-itemid="@item.TotalQty" id="totalitem_@item.Id">0</span>
                            </div>
                            <div class="col-4 d-flex justify-content-center">
                                <a id="plus" data-id="@item.Id" data-price-max="@item.PriceMax" class="btn btn-outline-success float-right btn_plus" style="color:darkblue">
                                    <b>+</b>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div id="wrapper_two">
                        <div style="flex">
                            <img class="profile-user-img img-fluid img-circle img-responsive" src="~/images/@item.ImagePath" alt="User profile picture">
                            <div class="d-flex justify-content-center" style="margin-top:35px">
                                <button class="btn btn-primary">Detail</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
    @{
        var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
        var nextDisabled = !Model.HasNextPage ? "disabled" : "";
    }
    <div class="row">
        <div class="col-8">
        </div>
        <div class="col-2 d-flex justify-content-center" style="padding-top:7px">
            <h4>Page @Model.PageIndex of @Model.TotalPages</h4>
        </div>
        <div class="col-2">
            <a id="aPrev" asp-action="Catalog"
               asp-route-sortOrder="@ViewBag.CurrentSort"
               asp-route-pageNumber="@(Model.PageIndex - 1)"
               asp-route-currentFilter="@ViewBag.CurrentFilter"
               asp-route-pageSize="@ViewBag.CurrentPageSize"
               class="btn btn-info float-right @prevDisabled">
                Previous
            </a>
            <a id="aNext" asp-action="Catalog"
               asp-route-sortOrder="@ViewBag.CurrentSort"
               asp-route-pageNumber="@(Model.PageIndex + 1)"
               asp-route-currentFilter="@ViewBag.CurrentFilter"
               asp-route-pageSize="@ViewBag.CurrentPageSize"
               class="btn btn-info float-right @nextDisabled">
                Next
            </a>
        </div>
    </div>

</div>

<div class="footer" id="sembunyi" hidden>

    <div class="row d-flex justify-content-between text-white">
        <div class="col-6">
            <div class="row">
                <div class="col-3">
                    <h3 id="totalproduct">
                        @{
                            if (data != null)
                            {
                                <span>@data.Qty</span>
                            }
                            else
                            {
                                <span>0</span>
                            }
                        }
                    </h3>
                    <a>
                        <h5>Produk</h5>
                    </a>
                </div>
                <div class="col-1">
                    <h3>|</h3>
                </div>
                <div class="col-8">
                    <h3 id="estimateprice">
                        @{
                            if (data != null)
                            {
                                <span>@data.SubTotal</span>
                            }
                            else
                            {
                                <span>0</span>
                            }
                        }
                    </h3>
                    <a>
                        <h5>Estimasi Harga</h5>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-6 d-flex justify-content-center">
            <button class="btn btn-primary" style="width:200px" id="btn_checkout">
                <i class="ti ti-shopping-cart" style="font-size:20px"></i>
                <span style="font-size:20px">Checkout</span>
            </button>
        </div>
    </div>

</div>




<!-- Add this script after including the jQuery library -->
@* <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script> *@

<script>

    var totalproduct = parseInt($("#totalproduct").text()) || 0;
    var estimateprice = parseInt($("#estimateprice").text()) || 0;
    var obj = {}

    var ListCart = @Html.Raw(ViewBag.dataDetail)

        setTransaction()

    function setTransaction() {
        if (ListCart != null) {
            $.each(ListCart, function (index, element) {

                var id = element.Id
                $("#totalitem_" + id).text(element.Qty)
                //$(".tambahkeranjang").prop('hidden', true);
                $(".tambahkeranjang[data-id='" + id + "']").prop("hidden", true);
                $(".btn_plusminus[data-id='" + id + "']").removeAttr("hidden");
                $(".btn_plus[data-id='" + id + "']").click();

                if (totalproduct == 0) {
                    $("#sembunyi").attr("hidden", true);
                }
                else {
                    $("#sembunyi").attr("hidden", false);
                }
            })
        }
    }

    $(".tambahkeranjang").click(function () {
        var id = parseInt($(this).attr("data-id"))
        $(this).prop('hidden', true);
        $(".btn_plusminus[data-id='" + id + "']").removeAttr("hidden");
        totalproduct++
        $(".btn_plus[data-id='" + id + "']").click();



        setSession()
    })


    $(".btn_plus").click(function () {
        if (ListCart == null || ListCart.length == 0) {
            ListCart = @Html.Raw(ViewBag.dataDetail)
                        }
        obj = {}

        var id = parseInt($(this).attr("data-id"))
        var idprice = "#price_" + id
        var idtotalitem = "#totalitem_" + id
        var idname = "#name_" + id

        var totalitem = parseInt($(idtotalitem).text())
        var price = parseInt($(idprice).text())
        var nameProduct = $(idname).text()

        if (totalproduct >= 0) {
            $("#sembunyi").attr("hidden", false)
        } else {
            $("#sembunyi").attr("hidden", true)
        }

        console.log("totalitem:", totalitem);
        console.log("price:", price);

        totalitem++
        estimateprice = estimateprice + price

        console.log("After calculations - totalproduct:", totalproduct);
        console.log("After calculations - estimateprice:", estimateprice);

        $("#totalproduct").text(totalproduct)
        $("#estimateprice").text(estimateprice)

        $(idtotalitem).text(totalitem)


        obj.Id = id
        obj.Qty = totalitem
        obj.SubTotal = price * totalitem
        obj.Price = price
        obj.Name = nameProduct

        addList(id, obj)

        console.log(ListCart)

        setSession()
    })

    $(".btn_min").click(function () {
        if (ListCart == null || ListCart.length == 0) {
            ListCart = @Html.Raw(ViewBag.dataDetail)
                        }

        var id = parseInt($(this).attr("data-id"))
        var idprice = "#price_" + id
        var idtotalitem = "#totalitem_" + id
        var idname = "#name_" + id


        var totalitem = parseInt($(idtotalitem).text())
        var price = parseInt($(idprice).text())
        var nameProduct = $(idname).text()

        if (totalitem <= 1) {
            $(".btn_plusminus[data-id='" + id + "']").prop('hidden', true);
            $(".tambahkeranjang[data-id='" + id + "']").removeAttr("hidden");
            totalproduct--
        }

        if (totalitem > 0) {
            totalitem--
            estimateprice = estimateprice - price

        }

        if (totalproduct == 0) {
            $("#sembunyi").attr("hidden", true);
        }
        else {
            $("#sembunyi").attr("hidden", false);
        }

        $("#totalproduct").text(totalproduct)
        $("#estimateprice").text(estimateprice)

        $(idtotalitem).text(totalitem)

        obj.Id = id
        obj.Qty = totalitem
        obj.SubTotal = price * totalitem
        obj.Price = price
        obj.Name = nameProduct

        spliceList(id, obj)

        console.log(ListCart)

        setSession()
    })

    function addList(id, obj) {
        const index = ListCart.map(e => e.Id).indexOf(id);

        if (index == -1) {
            ListCart.push(obj)
        }
        else {
            ListCart[index].Qty = obj.Qty
            ListCart[index].SubTotal = obj.SubTotal
        }
    }

    function spliceList(id, obj) {
        const index = ListCart.map(e => e.Id).indexOf(id);

        if (index != -1) {
            ListCart[index].Qty = obj.Qty
            ListCart[index].SubTotal = obj.SubTotal

            if (obj.Qty == 0) {
                ListCart.splice(index, 1)
            }
        }
    }

    function setSession() {
        data = {
            Qty: totalproduct,
            SubTotal: estimateprice,
            ListDetails: ListCart
            // Totalitem: totalitem,
        }

        data.Name = ""
        data.Id = 1

        $.ajax({
            url: "/Obat/SetSession",
            data: { dataHeader: data },
            type: "post",
            dataType: "json",
            success: function (respon) {
                // alert("set session done")
            }
        })
    }


    $("#btn_search").click(function () {
        $("#modal_body").empty()
        $("#modal_body").load("/Obat/SearchMenu")
        $("#my_modal").modal("show")
        $("#exampleModalLabel").text("Cari Obat Dan Alat Kesehatan")
    @* modal diperbesar *@
                // $(".modal-dialog").removeClass("modal-lg")
        })

    $("#PageSize").val(@ViewBag.CurrentPageSize)
    $("#PageSize").change(function () {
        $("#form_pagesize").submit();
    })
</script>

﻿


