﻿<div class="card-header">
    <div class="card-tools">
        <button class="btn btn-primary" id="btn_search">
            <i class="fas fa-search"></i>
            Search
        </button>
    </div>

</div>

<script>
    $("#btn_search").click(function () {
        $("#modal_body").empty()
        $("#modal_body").load("/Obat/SearchMenu")
        $("#my_modal").modal("show")
        $("#exampleModalLabel").text("Cari Obat Dan Alat Kesehatan")
    @* modal diperbesar *@
                    // $(".modal-dialog").removeClass("modal-lg")
        })
</script>