﻿

<div class="card card-primary">
    <div class="card-header">
        <h5 class="card-title text-muted" style="font-size:15px">Masukan Minimal 1 Kata Kunci Untuk Pencarian Anda</h5>
    </div>

    <form asp-action="Catalog" id="form_input">
        <div class="card-body">
            <div class="form-group">
                <label for="NameCategory" class="col-sm-4 col-form-label">Name Category</label>
                <div>
                    @Html.DropDownList("NameCategory",
                    new SelectList(ViewBag.ListCategory, "Name", "Name"),
                    "--Pilih Category--",
                    new {@class = "form-control"}
                    )
                </div>
            </div>

            <div class="form-group">
                <label for="NameProduct">Kata Kunci</label>
                <input type="text" class="form-control" id="NameProduct" name="NameProduct" placeholder="Kata Kunci atau Indikasi" />
            </div>

            <div class="form-group">
                <label for="Caution" class="col-sm-4 col-form-label">Jenis Obat</label>
                <div class="col-sm-8">
                    <input type="radio" name="Caution" value="bebas" checked> Hanya cari obat bebas (tanpa resep) <br><br>
                    <input type="radio" name="Caution" value="keras"> Cari semua obat (termasuk obat keras) <br><br>
                </div>
            </div>

            <div class="row">
                <div class="col-4">
                    <div class="form-group">
                        <label for="MinAmount">Harga</label>
                        <input type="number" class="form-control" id="MinAmount" name="MinAmount" placeholder="Rp 0" />
                    </div>
                </div>
                <div class="col-4">
                    <label class="d-flex justify-content-center" style="padding-top:25px">Sampai</label>
                </div>
                <div class="col-4">
                    <div class="form-group">
                        <label for="MaxAmount"></label>
                        <input type="number" class="form-control" id="MaxAmount" name="MaxAmount" placeholder="Rp 0" />
                    </div>
                </div>
            </div>
        </div>


        <div class="card-footer row">
            <div class="col-6 d-flex justify-content-center">
                <a class="btn btn-outline-primary float-right" id="aturulang">Atur Ulang</a>
            </div>
            <div class="col-6 d-flex justify-content-center">
                <button type="submit" class="btn btn-primary float-right">Search</button>
            </div>
        </div>
    </form>

</div>

<script>
    $("#aturulang").click(function () {
        $("#modal_body").empty()
        $("#modal_body").load("/Obat/SearchMenu")
        $("#my_modal").modal("show")
    })

    $("#form_input").submit(function () {
        var nameProduct = $("#NameProduct").val();
        var caution = $('input[name="Caution"]:checked').val();
        var minAmount = $("#MinAmount").val();
        var maxAmount = $("#MaxAmount").val();
        var NameCategory = $("#NameCategory").val();
        debugger

        window.location.assign('/Obat/Catalog/?=' + NameCategory + nameProduct + caution + minAmount + maxAmount);
    })
</script>