﻿@using MinPro334_GroupA.datamodels;
@model TDoctorTreatment;

@{
    ViewData["Title"] = "Create Treatment";
}


<div class="card">
    <div class="card-body">
        <div class="h4 mb-4">@ViewData["Title"]</div>

        <form asp-action="Create" method="post"  id="form_tindakan">
            <div class="mb-4 row">
                <label for="Name" class="col-sm-4 col-form-label">Name Treatment</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" id="Name" name="Name">
                    <span id="validated_NameTreatment" class="text-danger"></span>
                </div>
            </div>


            <div class="mb-4 row">
                <div class="col-sm-8">
                    <button type="submit" class="btn btn-primary">Submit</button>
                    <a class="btn btn-light" asp-controller="TindakanDokter" asp-action="Index">Back to List</a>
                </div>
            </div>
        </form>

    </div>
</div>



<script>
    
    $("#form_tindakan").validate({
        errorClass: "text-danger",
        rules: {
            Name: {
                required: true,
                minlength: 3,
            }
        },
        messages: {
            Name: {
                required: "Please fill name",
                minlength: "The name must consist of at least 3 character",
            }
        },
        submitHandler: function (form) {
          
            var dataForm = $(form).serialize();
            console.log("tes")

            var name = $("#Name").val();
            var id = 0

            $.ajax({
                url: "/TindakanDokter/CheckNameIsExist",
                type: "get",
                data: { name: name, id: id },
                dataType: "json",
                success: function (respon) {
                    if (respon) {
                        $("#validated_NameTreatment").text("Name is already exist")
                        return true;
                    }
                    else {
                        fungsisubmit(dataForm)
                    }
                }
            })

        }
    })
    function fungsisubmit(dataParam) {
        $.ajax({
            url: "/TindakanDokter/Create",
            type: "post",
            data: dataParam,
            dataType: "json",
            success: function (respon) {
                var data = respon.dataRespon

                if (data.success) {
                    $("#my_modal").modal("hide")

                    Swal.fire(
                        'information',
                        data.message,
                        'success'
                    ).then(function () {
                        window.location.reload()
                    })


                }
                else {
                    toastr.errorClass(data.message)
                }
            }
        })
    }

</script>