﻿@using MinPro334_GroupA.datamodels;
@model TDoctorTreatment;

@{
    ViewData["Title"] = "Delete Treatment";
}

<div class="card">
    <div class="card-body">

        <form asp-action="SureDelete" method="post" id="form_delete">


            <input type="hidden" id="Id" name="Id" value="@Model.Id" />

            <h3>Are you sure for delete @Model.Name ?</h3>


            <div class="modal-footer">
                <button type="submit" class="btn btn-primary">Yes</button>
                <a asp-controller="TindakanDokter" asp-action="Index" class="btn btn-secondary">No</a>
            </div>

        </form>
    </div>
</div>

<script>
    $("#form_delete").validate({
        submitHandler: function (form) {

            //var dataParam = $(form).serialize()
            var id = $("#Id").val()

            $.ajax({
                url: "/TindakanDokter/SureDelete",
                type: "post",
                data: { id: id },
                dataType: "json",
                success: function (respon) {
                    var data = respon.dataRespon

                    if (data.success) {
                        $("#my_modal").modal("hide")

                        Swal.fire({
                            title: "Information!",
                            text: data.message,
                            icon: "success"
                        }).then((result) => {
                            // Jika pengguna menekan tombol OK, result.value akan berisi true
                            if (result.value) {
                                // Reload halaman setelah menekan tombol OK
                                window.location.reload();
                            }
                        });
                    }
                    else {

                        Swal.fire({
                            icon: 'error',
                            title: 'warning',
                            text: data.message
                        })
                        //toastr.errorClass(data.message)
                    }
                }
            })

        }
    })
</script>