﻿@using MinPro334_GroupA.viewmodels;
@using MinPro334_GroupA.datamodels;
@model VMTblProfilDokter
@{
    var janji = Model.ListJumlahJanji.Count() - (Model.ListJanjiCancel.Count() + Model.ListJanjiDone.Count());

}


<style>
    .btn-circle.btn-xl {
        width: 70px;
        height: 70px;
        padding: 10px 16px;
        border-radius: 100px;
        font-size: 24px;
        line-height: 1.33;
    }

    .btn-circle {
        width: 30px;
        height: 30px;
        padding: 6px 0px;
        border-radius: 12px;
        text-align: center;
        font-size: 12px;
        line-height: 1.42857;
    }

    .btn-info, .btn-info:hover, .btn-info:active, .btn-info:visited {
        background-color: #b8e4f4 !important;
        border-color:Background;
    }

</style>

<!-- As a heading -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Home &emsp;/</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Profil Dokter</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="row">

    <div class="col-sm-4">

        <div class="card">
            @* <form id="form_gambar" enctype="multipart/form-data">
            <div class="image-upload">
            <label for="file-input"> *@
            @* <img src="https://icons.iconarchive.com/icons/dtafalonso/android-lollipop/128/Downloads-icon.png" /> *@
            @*  <h3 class="bi bi-pencil-square"  syle="cursor: pointer; position:absolute;top:30px;right:70px;">&nbsp;</h3>
            </label>
            <input id="ImageFile" name="ImageFile" onclick="submitGambar()" type="file" style="display: none" />
            </div>

            </form> *@
            @*
            <a type="button" class="dropdown-item d-flex align-items-center" asp-controller="Doctor" asp-action="IndexDetail" asp-route-id="1">
            coba
            </a> *@
            <form id="form_input" enctype="multipart/form-data">
                <div style="position:absolute;top:20px;right:80px;">
                    <input type="file" accept="image/*" name="image" id="file" style="display: none;">
                    <label for="file" style="cursor: pointer;" class="ti ti-edit"></label>
                </div>
                <div class="card-body text-center">
                    <h5>&nbsp;</h5>
                    <img src="~/images/@Model.Img" class="rounded-circle" id="output" height="150" width="150">
                </div>
            </form>
            <div class="card-body text-center">
                <h5 class="card-title">@Model.NameDoctor</h5>
                <p class="card-text">@Model.Specialization</p>
                <h5>  &#9733; &#9733; &#9733; &#9733; &#9734;</h5>

            </div>
            <div style="border-top:solid lightgrey 0.05px;">
                <h5 class="p-3" style="background-color:white; color:#329fdc">Janji<a style="float:right; color:#329fdc">@janji</a></h5>
            </div>
            <div style="border-bottom:solid lightgrey 0.05px;border-top:solid lightgrey 0.05px">
                <h5 class="p-3" style="background-color:white; color:#329fdc">Obrolan / Konsultasi<a style="float:right; color:#329fdc">@Model.ListKonsultasi.Count()</a></h5>
            </div>
        </div>

        <div class="card">
            <h3 class="p-3" style="background-color:#c4e8f8; color:#329fdc">&nbsp;Tentang Saya</h3>
            <h3 class="p-3" style="background-color:white; color:#329fdc">&nbsp;Tindakan Medis</h3>
            <div class="card-khusus">
                @foreach (var item in Model.ListNameTreatment)
                {
                    <h5> &emsp;&emsp;&nbsp; - @item.NameTreatment</h5>
                }
            </div>

            <h4 class="p-3" style="background-color:white; color:#329fdc">&nbsp;Riwayat Praktek</h4>
            <div class="card-khusus">
                @foreach (var item in Model.ListNameHospital)
                {
                    <h5>&emsp;&emsp;&nbsp;&nbsp;&nbsp;@item.NameHospital</h5>
                    if (null == item.EndDate)
                    {
                        <h6>&emsp; &emsp; &emsp;&nbsp;&nbsp;&nbsp;@item.SpecializationFaskes &nbsp; <a style="float:right; padding-right:30px;">@item.StartDate.ToString("yyyy") &nbsp  -  Sekarang</a></h6>
                    }
                    else
                    {
                        <h6>&emsp; &emsp; &emsp;&nbsp;&nbsp;&nbsp;@item.SpecializationFaskes &nbsp; <a style="float:right; padding-right:30px;">@item.StartDate.ToString("yyyy") &nbsp  -  @item.EndDate.ToString("yyyy")</a></h6>
                    }
                }
            </div>

            <h3 class="p-3" style="background-color:white; color:#329fdc">&nbsp;Pendidikan</h3>
            <div class="card-khusus">

                @foreach (var item in Model.ListInstitutionName)
                {
                    <h5>&emsp;&emsp;&nbsp;&nbsp;&nbsp;@item.InstitutionName</h5>
                    <h6>&emsp; &emsp;&emsp;&nbsp;&nbsp;&nbsp; @item.Major<a style="float:right; padding-right:30px;"> @item.Lulus</a></h6>
                }
            </div>

        </div>
    </div>


    <div class="col-sm-8">
        <div class="card">
            <div class="card-header">
                <ul class="nav nav-pills flex-column flex-sm-row">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="true" href="@Url.Action("Index", "ProfilDokter",new { id = 1 })">Spesialisasi</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="true" href="#">Tindakan</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link disabled" aria-current="true" href="#" aria-disabled="true">Konsultasi</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Pengaturan</a>
                    </li>
                </ul>
            </div>
            <div class="card-body d-flex justify-content-between">
                <div>
                    @foreach (var item in Model.ListNameTreatment)
                    {
                        <p>
                            <button type="button" class="btn btn-info btn_delete"  dataid="@item.TreatmentId">
                                <a style="color:#329fdc">
                                    @item.NameTreatment &emsp;&emsp;
                                    <span class="badge" style="background-color:#66b6d2">X</span>
                                </a>
                            </button>
                        </p>
                    }
                </div>
                <div class="align-self-end">
                    <button type="button" class="btn btn-primary btn-circle btn-xl p-0" id="btn_create" style=""><i class="ti ti-plus" style="font-size: 50px;"></i></button>
                </div>
            </div>
        </div>
    </div>



    <script>
        $("#btn_create").click(function () {
            $("#modal_body").empty()
            $("#modal_body").load("/TindakanDokter/Create")
            $("#my_modal").modal("show")
        })

        $(".btn_delete").click(function () {
            var id = $(this).attr("dataid")
            $("#modal_body").empty()
            $("#modal_body").load("/TindakanDokter/Delete?id=" + id)
            $("#my_modal").modal("show")
        })


    </script>
